/* ---- *
 * $ADS *
 * ---- */

/**
 * Change default styles of CarbonAds
 * [1] - override inline styles
 */
.carbonad {
	background: rgba(0,0,0,.05) !important; /* [1] */
	border: 1px solid rgba(0,0,0,.1) !important; /* [1] */
	height: auto !important; /* [1] */
	border-radius: 2px;
}

/**
 * Prevent hidden image from CarbonAds to mess the layout
 */
#azcarbon > img {
	display: inline !important;
}