/* ------------- *
 * $MAIN CONTENT *
 * ------------- */

p, 
ul, 
ol {
	margin-bottom: $space;
}

ul, 
ol {
	padding-left: 1.5em;
}

li,
p {
	line-height: 1.55;
}

/* ------- *
 * $TITLES *
 * ------- */

/**
 * Classes are meant to give styles without semantic value
 * e.g. <h2 class="h4">Title level 2 with styles level 4</h2>
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	margin: 1.3em 0 .6em 0;
	font-weight: normal;
	line-height: 1.3;
	font-family: 'Orienta', sans-serif;
	color: $lightgrey;
}

h1, .h1 {
	font-family: 'Sanchez', sans-serif;
	@include rem(3.6);
	text-shadow: 0 1px white, 0 2px $darkgrey;
	margin: 1em 0 0 0;
	text-transform: uppercase;
}

h2, .h2 {
	@include rem(3.2);

	.page--resume & {
		border-bottom: 1px solid silver;
	}

	a[href^="#"] {
		*display: inline;
		display: inline-block;
		padding-left: .3em;
		color: $darkgrey;
		opacity: 0;
		pointer-events: none;
		@include transition(.15s);

		@include breakpoint(small) {
			opacity: 1;
			pointer-events: auto;
			padding-left: 0.1em;
		}
	}

	&:hover a,
	&:focus a {
		opacity: 1;
		pointer-events: auto;
	}
}

h3, .h3 {
	@include rem(2.6);
	letter-spacing: 1px;
	font-style: italic;
	text-transform: uppercase;
}

h4, .h4 {
	@include rem(2.4);
}

/* ------- *
 * $IMAGES *
 * ------- */

img {
	height: auto;
	max-width: 100%;
	margin: $space auto;
	display: block;
}

/* ------- *
 * $QUOTES *
 * ------- */

blockquote {
	@extend %clearfix;
	background: #F4F4F4;
	border-left: .5em solid white;
	padding: 1em;
	font-style: italic;
	margin-bottom: $space;
	
	p:last-of-type {
		margin-bottom: 0;
	}
}

/* ------- *
 * $TABLES *
 * ------- */

table {
	width: 100%;
	margin: $space 0;
}

td,
th {
	padding: 0.5em;
}

th {
	font-weight: bold;
	text-align: center;
}

tr:nth-child(odd) {
	background: #F4F4F4;
}
