/* ---------- *
 * $VARIABLES *
 * ---------- */

$pink: #FF3D7F;
$darkgrey: #444;
$mediumgrey: #666;
$lightgrey: #999;
$space: 1em;

/* ------- *
 * $MIXINS *
 * ------- */

/**
 * Mixin providing a PX fallback for REM font-sizes
 * Source: http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
 */
@mixin rem($val) {
	font-size: ($val * 10) + px;
	font-size: $val + rem;
}

/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
@mixin breakpoint($point) {
	@if $point == medium {
	    @media (max-width: 48em) { @content; } //960px
	}
	@if $point == small {
	    @media (max-width: 38em) { @content; } //760px
	}
}

/**
 * Mixin used by helper classes .pull-image--$pos and .pull-quote--$pos
 * 1. returns `left` if given `right` and vice versa
 */

@mixin pull($direction, $quote: false) {
	$opposite: opposite-position($direction); /* 1 */

	float: $direction;
	margin: 0 0 $space 0;
	margin-#{$opposite}: $space;	

	@if($quote) {
		text-align: $opposite;
		border-#{$opposite}: 6px solid $pink;
		padding-#{$opposite}: $space;
	}
}

/* -------- *
 * $HELPERS *
 * -------- */

/**
 * Clearfix
 * 1. only meant to be extended from within the stylesheets
 */
%clearfix { /* 1 */
	&:after {
    	display: table;
    	content: "";
		clear: both;
	}
}

/**
 * Prevent icon to stick to the text
 */
/*span*/
.icon-left { margin-right: 5px }
.icon-right { margin-left: 5px }

/**
 * Quotes & images pulling
 * 1. Center images/quotes on small screens
 */
%pull-image {
	max-width: 15em;

	@include breakpoint(small) { /* 1 */
		float: none;
		width: 100%;
		margin: $space auto;
	}
}

%pull-quote {
	max-width: 250px;
	line-height: 1.35;
	@include rem(3);

	&:after,
	&:before {
		font-weight: bold;
	}

	&:before { content: "\201c"; }
	&:after  { content: "\201d"; }

	@include breakpoint(small) { /* 1 */
		float: none;
		margin: $space auto;
		border: .5em solid $pink;
		border-left:  none;
		border-right: none;
		text-align: center;
		padding: $space 0.5em;
		max-width: 100%;
	}
}

/**
 * Creates helpers for both images and quotes
 * for both directions (left and righ)
 * 1. Extends default styles no matter the direction
 * 2. Applies styles according to the given direction
 */
@each $dir in left, right {
  /*blockquote*/
  .pull-quote--#{$dir} {
    @extend %pull-quote;        /* 1 */
    @include pull($dir, true);  /* 2 */
  }

  /*img*/
  .pull-image--#{$dir} {
    @extend %pull-image;        /* 1 */
    @include pull($dir, false); /* 2 */
  }
}

/**
 * Hidden yet accessible content
 * Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 */
.visually-hidden { 
	position: absolute;
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:  1px; 
	width:   1px; 
	margin: -1px;
	padding: 0;
	border: none; 
}

/**
 * Secondary content; could be ommited without altering the meaning
 */
/*p*/
.note {
	font-style: italic;
	padding-left: $space;
}

/**
 * Right after main title in articles
 */
/*p*/
.date {
	color: $lightgrey;
	text-transform: uppercase;
	margin-top: .5em;
}

/**
 * Often used as an introduction paragraph in articles
 * 1. To avoid overlapping in case there is a table of contents
 */
/*p*/
.explanation {
	background: #F4F4F4;
	border-left: .5em solid white;
	padding: $space;
	font-style: italic;
	margin-bottom: $space;

	.table-of-contents ~ section & { /* 1 */
		margin-right: 42%;
	}

	@include breakpoint(small) {
		margin-right: 0 !important;
	}
}