/* ------- *
 * $MIXINS *
 * ------- */

/**
 * Mixin providing a PX fallback for REM font-sizes
 * Source: http://css-tricks.com/snippets/css/less-mixin-for-rem-font-sizing/
 */
@mixin rem($val) {
	font-size: ($val * 10) + px;
	font-size: $val + rem;
}

/**
 * Mixin handling breakpoints for media queries
 * Source: http://css-tricks.com/media-queries-sass-3-2-and-codekit/
 */
@mixin breakpoint($point) {
	@if $point == medium {
	    @media (max-width: 48em) { @content; } //960px
	}
	@if $point == small {
	    @media (max-width: 38em) { @content; } //760px
	}
}

/**
 * Mixin used by helper class %pull-quote
 */
@mixin pull-quote($direction) {
	$opposite: '';
	@if $direction == left  { $opposite: right; }
	@if $direction == right { $opposite: left; }

	text-align: $opposite;
	float: $direction;  
	margin: 0 0 .5em 0;
	margin-#{$opposite}: 1em;
	border-#{$opposite}: 6px solid hotpink;
	padding-#{$opposite}: 1em;
}

/**
 * Mixin used by helper class %pull-image
 */
@mixin pull-image($direction) {
	$opposite: '';
	@if $direction == left  { $opposite: right; }
	@if $direction == right { $opposite: left; }

	float: $direction;
	margin: 0 0 1em 0;
	margin-#{$opposite}: 1em;
}

/* ---------- *
 * $VARIABLES *
 * ---------- */

$pink: #FF3D7F;
$lightgrey: #444;
$mediumgrey: #666;
$darkgrey: #999;
$space: 1em;

/* -------- *
 * $HELPERS *
 * -------- */

/**
 * Clearfix
 * [1] - only meant to be extended from within the stylesheets
 */
%clearfix { /* [1] */
	&:after {
    	display: table;
    	content: "";
		clear: both;
	}
}

/**
 * Prevent icon to stick to the text
 */
/*span*/.icon-left { margin-right: 5px }
/*span*/.icon-right { margin-left: 5px }

/**
 * Image pulling
 */
/*img*/.pull-image--left {
	@extend %pull-image;
	@include pull-image(left);
}

/*img*/.pull-image--right {
	@extend %pull-image;
	@include pull-image(right);
}

%pull-image {
	max-width: 15em;
	display: block;

	@include breakpoint(small) {
		float: none;
		width: 100%;
		margin: $space auto;
	}
}

/**
 * Quote pulling
 */
/*p*/.pull-quote--left {
	@extend %pull-quote;
	@include pull-quote(left);
}

/*p*/.pull-quote--right {
	@extend %pull-quote;
	@include pull-quote(right);
}

%pull-quote {
	max-width: 250px;
	width: 100%;
	position: relative;
	line-height: 1.35;
	@include rem(3);

	&:after,
	&:before {
		content: '"';
		font-family: "Times New Roman", serif;
	}

	@include breakpoint(small) {
		float: none;
		margin: $space auto;
		border: 5px solid $pink;
		border-left: none;
		border-right: none;
		text-align: center;
		padding: 1em 0.5em;
		max-width: 100%;
	}
}

/**
 * Hidden yet accessible content
 * [1] - avoid specificity issues
 * Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css
 */
.visually-hidden { 
	position: absolute !important; /* [1] */
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px !important; /* [1] */
	padding: 0 !important; /* [1] */
	border: none; 
}

/**
 * Secondary content; could be ommited without altering the meaning
 */
/*p*/.note {
	font-style: italic;
	padding-left: 1em;
}

/**
 * After main title in articles
 */
/*p*/.date {
	color: $darkgrey;
	text-transform: uppercase;
}