/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 * 3. Set up a decent box model on the root element.
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  box-sizing: border-box; /* 3 */
}

/**
 * 1. Make all elements from the DOM inherit from the parent box-sizing
 *    Since `*` has a specificity of 0, it does not override the `html` value
 *    making all elements inheriting from the root box-sizing value.
 *    See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
::before,
::after {
  box-sizing: inherit; /* 1 */
}

/**
 * 1. Prevent horizontal scrolling.
 */
body {
  margin: 0;
  color: #444;
  font: 125% / 1.5 'Baskerville', 'Lucida Bright', 'Perpetua', 'Times',
    'Times New Roman', 'Palatino', 'Bookman', 'New Century Schoolbook', serif;
  overflow-x: hidden; /* 1 */
}

@media (min-width: 768px) {
  body {
    font-size: 140%;
  }
}

body::before {
  content: '';
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

p {
  margin-bottom: 1.5em;
}

hr {
  height: 4px;
  border-radius: 4px;
  border: 0;
}

a {
  color: #2984c2;
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover,
a:active {
  outline-width: 0;
  border-bottom-style: solid;
  color: #206798;
}

a:visited {
  color: inherit;
}

/**
 * Basic styles for images
 * 1. Warning, potentially dangerous if using inline images
 */
 img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  margin: 1.5em 0 1em;
}

ul,
ol {
  padding-left: 1em;
  margin-bottom: 1.5em;
}

ul ul {
  margin-bottom: 0;
}

body::before,
.Info::before,
blockquote::before,
.Footnotes::before,
.Tile::before,
hr {
  background-image: linear-gradient(
    to right,
    #dd7eb4 0%,
    #dd7eb4 12.5%,
    #c37fb6 12.5%,
    #c37fb6 25%,
    #aa80b8 25%,
    #aa80b8 37.5%,
    #9081ba 37.5%,
    #9081ba 50%,
    #7681bc 50%,
    #7681bc 62.5%,
    #5c82be 62.5%,
    #5c82be 75%,
    #4383c0 75%,
    #4383c0 87.5%,
    #2984c2 87.5%,
    #2984c2 100%
  );
}
