@font-face {
  font-family: "MiddleDot";
  src: local("Times New Roman");
  unicode-range: U+00B7;
}

:root {
  color-scheme: light dark;

  --pink: #dd7eb4;
  --blue: #267cb9;
  --code-font: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo", "Courier", monospace;
  --vb: 1.5em;
  --vb-half: calc(var(--vb) / 2);
  --vb-third: calc(var(--vb) / 3);
  --vb-quarter: calc(var(--vb) / 4);
  --vb-sixth: calc(var(--vb) / 6);
  --vb-thirds: calc(var(--vb) * 2 / 3);
  --vb-1\.5: calc(var(--vb) * 1.5);
  --vb-double: calc(var(--vb) * 2);
}

.dark {
  color-scheme: dark;
}
.light {
  color-scheme: light;
}

/**
 * 1. Set up a decent box model on the root element.
 * 2. Prevent horizontal scrolling.
 */
html {
  box-sizing: border-box; /* 1 */
  overflow-x: hidden; /* 2 */
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
  }
}

/**
 * 1. Make all elements from the DOM inherit from the parent box-sizing
 *    Since `*` has a specificity of 0, it does not override the `html` value
 *    making all elements inheriting from the root box-sizing value.
 *    See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
::before,
::after {
  box-sizing: inherit; /* 1 */
}

/**
 * 1. Reset default margin.
 * 2. Enable fluid typography.
 */
body {
  margin: 0; /* 1 */
  font:
    1.25rem / 1.5 "MiddleDot",
    "Baskerville",
    "Lucida Bright",
    "Perpetua",
    "Times",
    "Times New Roman",
    "Palatino",
    "Bookman",
    "New Century Schoolbook",
    serif;
  font-size: min(max(1.25rem, 4vw), 1.4rem); /* 2 */
  color: light-dark(#444, #eee);
  background-color: light-dark(#fff, #222);
}

/**
 * Colorful horizontal bar at the top of the site.
 */
body::before {
  content: "";
  height: 4px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

body::before,
hr {
  background-image: linear-gradient(to right, var(--pink), var(--blue));
}

@media print {
  /**
   * 1. Prevent the horizontal bar from being visible on every page.
   */
  body::before {
    position: absolute; /* 1 */
  }
}

hr {
  height: 4px;
  border-radius: 4px;
  border: 0;
  margin: var(--vb) 0;
}

/**
 * 1. Add some space to the top of the heading when scrolling to it.
 */
h2,
h3 {
  margin-top: var(--vb);
  margin-bottom: var(--vb-half);
  scroll-margin-top: var(--vb-half); /* 1 */
}

p {
  margin: var(--vb-half) 0;
}

ul,
ol {
  padding-left: 1em;
  margin: var(--vb-half) 0;
}

li {
  margin: var(--vb-quarter) 0;
}

ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

/**
 * 1. Warning, potentially dangerous if using inline images.
 */
img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  margin: var(--vb) 0;
}

a:not(.no-background) {
  outline: 0;
  color: inherit;
  text-decoration: none;
  background-image: linear-gradient(
    to right,
    light-dark(#f2cfe3, #796771),
    light-dark(#c4e0f3, #758691)
  );
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: background-size 250ms ease-in;
}

a:not(.no-background):hover,
a:not(.no-background):active {
  color: light-dark(#222, #ccc);
  background-size: 100% 88%;
}

/**
 * Apply explicit focus styles to all links to make keyboard navigation more visible.
 */
a:focus-visible {
  outline: 2px solid var(--pink) !important;
  outline-offset: 2px;
  border-radius: 0.5em;
  corner-shape: squircle;
}

a[data-visited]:not([href^="#"])::after {
  content: " ✓";
  opacity: 0.5;
  font-size: 80%;
}

a:visited {
  color: inherit;
}

/**
 * 1. Strong elements can be quite in your face, and they can look jarring next
 *    to titles especially, so this should soften them a little bit.
 */
strong {
  opacity: 0.8; /* 1 */
}