@media not print {
	[data-link-favicons] :where(.Footnotes__ref, a)::before {
		background-position: 0;
		background-repeat: no-repeat;
		background-size: 0.5lh;
		width: 0.5lh;
		height: 0.5lh;
		display: inline-block;
		vertical-align: middle;
		margin-inline-end: 0.5ch;
		transform: translateY(-0.05lh);
	}

	[data-link-favicons] a[href*="github."]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:github-icon.svg");
	}

	[data-link-favicons] a:where([href*="twitter.com"], [href*="x.com"])::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:twitter.svg");
	}

	[data-link-favicons] a[href*="sitepoint.com"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:sitepoint.svg");
	}

	[data-link-favicons] a[href*="codepen.io"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:codepen-icon.svg");
	}

	[data-link-favicons] a[href*="w3.org"]::before {
		content: "";
		background-image: url("https://api.iconify.design/vscode-icons:file-type-css.svg");
	}

	[data-link-favicons] a[href*="css-tricks.com"]::before {
		content: "";
		background-image: url("https://css-tricks.com/favicon.svg");
	}

	[data-link-favicons] a[href*="developer.mozilla.org"]::before {
		content: "";
		background-image: url("https://www.google.com/s2/favicons?domain=developer.mozilla.org&sz=48");
	}

	[data-link-favicons] a[href*="wikipedia.org"]::before {
		content: "";
		background-image: url("https://www.wikipedia.org/static/favicon/wikipedia.ico");
	}

	[data-link-favicons] a:where([href*="sass-guidelin.es"], [href*="sass-lang.com"])::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:sass.svg");
	}

	[data-link-favicons] a[href*="sassdoc.com"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:sass-doc.svg");
	}

	[data-link-favicons] a[href*="tympanus.net"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:codrops.svg");
	}

	[data-link-favicons] a[href*="11ty.dev"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:eleventy.svg");
	}

	[data-link-favicons] a[href*="caniuse.com"]::before {
		content: "";
		background-image: url("https://caniuse.com/img/favicon-128.png");
	}

	[data-link-favicons] a[href*="cypress.io"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:cypress-icon.svg");
	}

	[data-link-favicons] a[href*="sanity.io"]::before {
		content: "";
		background-image: url("https://www.sanity.io/static/images/favicons/safari-pinned-tab.svg");
	}

	[data-link-favicons] a[href*="nextjs.org"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:nextjs-icon.svg");
	}

	[data-link-favicons] a[href*="stackoverflow.com"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:stackoverflow-icon.svg");
	}

	[data-link-favicons] a[href*="npmjs.com"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:npm.svg");
	}

	[data-link-favicons] a[href*="biomejs.dev"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:biomejs-icon.svg");
	}

	[data-link-favicons] a[href*="netlify.com"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:netlify-icon.svg");
	}

	[data-link-favicons] a[href*="nodejs.org"]::before {
		content: "";
		background-image: url("https://api.iconify.design/logos:nodejs-icon.svg");
	}

	[data-link-favicons] a[href*="n26.com"]::before {
		content: "";
		background-image: url("https://n26.com/_build/favico.ico");
	}

	[data-link-favicons] a[href*="cofenster.com"]::before {
		content: "";
		background-image: url("https://cdn.prod.website-files.com/6294ff4bc4758c3ab26c6972/634d7bc7dfc2f91154fe36d4_favicon-cofenster.png");
	}

	[data-link-favicons] a[href*="scilife.io"]::before {
		content: "";
		background-image: url("https://www.scilife.io/hubfs/Favicon_01.jpg");
	}

	[data-link-favicons] a[href*="edenspiekermann.com"]::before {
		content: "";
		background-image: url("https://www.datocms-assets.com/131810/1727375010-favicon_48x48.png");
	}

	[data-link-favicons] a:where([href^="/"], [href*="kittygiraudel.com"])::before {
		content: "";
		background-image: url("/favicon.ico");
		border-radius: 50%;
	}

	[data-link-favicons] a[href^="#"]::before {
		content: "";
		background-image: url("https://api.iconify.design/mdi:hashtag.svg?color=%2300000055");
	}
}

[data-theme="dark"] [data-link-favicons] a:where([href^="#"])::before {
	background-image: url("https://api.iconify.design/mdi:hashtag.svg?color=%23ffffffaa");
}
