---
layout: default
title: Open-source projects
excerpt: 'A list of all my open-sourced projects, all hosted on GitHub. Fair warning: some of them are not
maintained anymore.'
keywords:
- projects
- open-source
- github
permalink: /projects/
---

{% include "styles.html", partials: "
  components/showcase,
  components/tile
" %}

{% include "ad.html" %}

{% assign main_projects = projects | where: "showcase", true | slice: 0, 3 %}
{% include "showcase.html",
  type: "project",
  title: "Showcased projects",
  hidden_title: true,
  copy: "I used to be an active member of the open-source community. I contributed to many projects, and started a few of my own. Below you can find a list of all projects I’ve taken part in over the years. Fair warning: many of them are no longer maintained.",
  items: main_projects
%}

{% assign groups = projects | group_by: "category" %}
{% assign sorted_groups = groups | sort_by: "name" %}

{% for category in sorted_groups %}
<h2>{{ category.name }}</h2>
<ul class="List">
  {% assign projects = category.items | sort_by: "name" %}
  {% for project in projects %}
  <li class="List__item">
    <a href="{{ project.link }}" class="List__primary-content" target="_blank"
      rel="noopener noreferrer">{{ project.name }}</a>
    <p class="List__secondary-content">{{ project.description }}</p>
  </li>
  {% endfor %}
</ul>
{% endfor %}
