---
layout: default
title: Open-Source Projects
description: 'A list of all my open-sourced projects, all hosted on GitHub. Fair warning: some of them are not
maintained anymore.'
keywords:
  - projects
  - open-source
  - github
pagination:
  data: projects
  size: 12
  alias: paginatedProjects
permalink: "/projects/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber | plus: 1 }}/{% endif %}index.html"
---

{% include "styles.liquid", partials: "
  components/list,
  components/showcase,
  components/tile,
  components/tags,
  components/collection-navigation
" %}

{% assign main_projects = projects | where: "showcase", true | slice: 0, 3 %}
{% include "showcase.liquid",
  type: "project",
  title: "Showcased projects",
  hidden_title: true,
  copy: "I have done my fair share of open-source work over the years. I contributed to many projects, and started a few of my own. You can find a list of all projects I’ve taken part in over the years. Fair warning: many of them are no longer maintained.",
  items: main_projects
%}

{% include "ad.liquid" %}

<ul class="List">
  {% for project in paginatedProjects %}
  <li class="List__item">
    {% include "tags.liquid", tags: project.tags %}
    <a href="{{ project.link }}" class="List__primary-content" target="_blank"
      rel="noopener noreferrer">{{ project.name }}</a>
    <p class="List__secondary-content">{{ project.description }}</p>
  </li>
{% endfor %}
</ul>

{% include "pagination.liquid",
  label: "projects",
  nextPageHref: pagination.nextPageHref,
  previousPageHref: pagination.previousPageHref
%}
