---
layout: default
title: Not Found
permalink: 404.html
---

<img
  style="display: block; margin-inline: auto;"
  src="/assets/images/404.png"
  alt="Illustration of a confused cat sitting between two number 4, making 404"
/>

<p>Unfortunately, it looks like you’ve reached a dead-end. There is no content here. Maybe it moved? Maybe it never existed to begin with? Still, not much left for us to do but go back to the <a href="/">home page</a>.</p>
