<aside class="RandomName no-print" aria-labelledby="ad-title">
  <div class="RandomName__holder">
    <script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKQY&placement=kittygiraudelcom" id="_carbonads_js"></script>
  </div>
  <div class="RandomName__content">
    <p>
      <em id="ad-title">Excuse this lil’ ad!</em><br/>
      I know it’s not ideal, but it helps me pay the bills and keep the site running.&nbsp;☕️
    </p>
  </div>
</aside>