{% assign post = item %}

{% capture article_meta %}{{ item.date | time }}{% if post.data.guest %}, by {{ post.data.guest }}{% endif %}{% endcapture %}
{% capture article_url %}{% if post.data.external %}{{ post.data.external.url }}{% else %}{{ post.url }}{% endif %}{% endcapture %}
{% capture article_label %}Read article <span class="visually-hidden">{{ post.data.title }}</span>{% endcapture %}

{% include "tile.html",
  primary_lang: post.data.lang,
  primary: post.data.title,
  secondary: article_meta,
  link_url: article_url,
  link_label: article_label
%}
