<li class="article  list__item">

  <p class="article__date  list__secondary-content">
    {% if include.post.guest %}
    <img class="article__icon" alt="Article from {{ include.post.guest }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAAiwAAAIsBRmWzPwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAFtSURBVEiJvdWxThRRFMbx3yFbWRAiaIBGrQidsTVWGBKMIbyJif3yCCa+ARU1LYbOkJho1EpLoKFhDQ+g2UOxszghM3eWZcNJvubec7//zDln7kRmKkVEzOE9XuN5tfwTR/iQmcOiQWa2CvM4RLboEPNFjw5Av2A+Vn8qAHo4nwBwjl6bz1yheg+xUqzvKFaq3MYoAR5MYN6ZWwL8vQWgNTdKYxoRAyx2mP/JzKW2zdIbwJeO/e6cjjF9q3uK3tzlOwj8KJh/VZV5KkAFWcbvBvNfeNx1vtdWuoh4gXf4hJfYMbqPGN1DB9iKiE18zMzvE/UAGzi+8bT72MZqpe1qrZ5zjI1iiapyXE7Q2DZdYrkE2LuD+Vh7jQCjiRnMADBQm6w6YH0G5mOtN92ma41TMF1ce9UBqzMEXHvdK+DfDAH/vWpNXsAuvmHo9o0dVmd3sTD2bfwfRMQjvMIzPMWTmuCsplOc4HNmXtz0ugJc6Rk7uHrcbAAAAABJRU5ErkJggg58bc465d7f743a8acbaee99c4d6ed70b"/>
    {% elsif include.post.external %}
    <img class="article__icon" alt="Go to {{ include.post.external.host }} to read the full article" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAA3NCSVQICAjb4U/gAAAACXBIWXMAAAEsAAABLAEEj9nEAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAGNQTFRF////AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf7bw3gAAACB0Uk5TAAEMFR0jL1tzg4iMjZCRkpOUlZaZocfS4+vz9Pf4+/6/ALyxAAAAj0lEQVQoz9XRSRKCMBRF0UcvQXoUpL37X6WDlBqMG/AO36n6GURyu+3Ylstpj3m3nEDDvK7rBoC8gt5Cmhu3TJ29pQm3MWqBfgN97Q3QBRaM80ANtJIHFdBEmQclUEej0czuQgFUGjEauDmQHFDKDrEcCB9Hoc/gnAoT/QbpH+B++inzgh2vXJJ09WRKJekJFD4ciSDDX5sAAAAASUVORK5CYII23a9503b4104fb76b8fa9d8aaad40797"/>
    {% endif %}
    
    {{ include.post.date | date: "%B %d, %Y" }}{% if include.post.guest %} by {{ include.post.guest }}{% endif %}{% if include.post.external %} at {{ include.post.external.host }} 
    {% else %}{% endif %}
  </p>

  <h2 class="article__title  list__primary-content">
      {% if include.post.external %}
        <a class="article__link" href="{{ include.post.external.url }}">
      {% else %}
        <a class="article__link" href="{{ include.post.url }}">
      {% endif %}
          {{ include.post.title }}
      </a>
  </h2>
</li>
