<footer class="Footer" role="contentinfo">
  <div class="container">
    <div class="Footer__inner">
      <div class="Footer__left">
        <p>I’m Kitty, a non-binary frontend developer focused on accessibility and workplace safety, currently leading
          the frontend team at <a href="https://gorillas.io">Gorillas</a> in
          Berlin.
        </p>
        <p class="Footer__colophon">&copy;&nbsp;2012–2020 Kitty Giraudel. This website is made with 11ty, hosted
          on Netlify and open-sourced on GitHub.</p>
      </div>

      <div class="Footer__right">
        <ul class="Footer__list">
          <li><a href="/rss">RSS</a></li>
          <li><a href="https://twitter.com/KittyGiraudel">Twitter</a></li>
          <li><a href="https://github.com/KittyGiraudel">GitHub</a></li>
          <li><a href="/resume">Resume</a></li>
          <li><a href="https://www.linkedin.com/in/kitty-giraudel/">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
