{% if items and items.size > 0 %}
  <aside class="PostToc" aria-labelledby="table-of-contents">
    <h2 class="PostToc__title" id="table-of-contents">
      <span class="Fleuron" aria-hidden="true">❦</span> On this page
    </h2>

    {% include "post_toc_list.liquid", items: items, root: true %}
  </aside>
{% endif %}

