<ul class="List">
  {% for item in items %}
    {% assign url  = item.url %}
    {% assign data = item.data %}
    
    <li class="List__item">
      <span class="List__secondary-content">
        {{ item.date | time }}
        {% if data.guest %} by {{ data.guest }}{% endif %}
        {% if data.external %} at {{ data.external.host }}{% endif %}
      </span>
    
      {% if data.external %}
      <a class="List__primary-content" {% if data.lang %}hreflang="{{ data.lang | downcase }}"
        lang="{{ data.lang | downcase }}" {% endif %} href="{{ data.external.url }}" target="_blank"
        rel="noopener noreferrer">
        {{ data.title }}
      </a>
      {% else %}
      <a class="List__primary-content" {% if data.lang %}hreflang="{{ data.lang | downcase }}"
        lang="{{ data.lang | downcase }}" {% endif %} href="{{ item.url }}">
        {{ data.title }}
      </a>
      {% endif %}

      {% include "tags.html", tags: data.tags %}
    </li>
  
  {% endfor %}
</ul>
