{% assign project = item %}
{% assign project_stars = github.stargazers[project.repository] | default: 0 %}

{% capture project_category %}{{ project.tags[0] }} · {{ project_stars | format_number }} ★{% endcapture %}
{% capture project_label %}Look at project <span class="visually-hidden">{{ project.name }}</span>{% endcapture %}

{% include "tile.liquid",
  primary: project.name,
  secondary: project_category,
  link_url: project.link,
  link_label: project_label
%}
