{% assign more_link_label = link_label %}
{% assign more_link_url = link_url %}

<section class="Showcase">
  <h2 class="Showcase__title">{{ title }}</h2>
  <p class="Showcase__copy">{{ copy | markdown }}</p>
  <div class="Showcase__container">
    {% for item in items %}
    <div class="Showcase__item">
      {% include "{{ type }}-tile.html", item: item %}
    </div>
    {% endfor %}
  </div>
  {% if more_link_label and more_link_url %}
  <a href="{{ more_link_url }}" class="Showcase__link">{{ more_link_label }}</a>
  {% endif %}
</section>
