{% comment %}
  Required:
  - items: The items to render
{% endcomment %}

{% ensure items, "Required value 'items' is missing in table_of_contents.liquid" %}

<aside class="TableOfContents" aria-labelledby="table-of-contents">
  <h2 class="TableOfContents__title" id="table-of-contents" data-ha-exclude>
    <span class="Fleuron" aria-hidden="true">❦</span> On this page
  </h2>

  {% render "table_of_contents_list.liquid", items: items, root: true %}
</aside>
