{% comment %}
  Required:
  - tags: The tags to render
{% endcomment %}

{% ensure tags, "Required value 'tags' is missing in tags.liquid" %}

<ul class="Tags">
  {%- for tag in tags | sort %}
    {% assign name = tag.name | default: tag %}

    <li class="Tag">
      <a class="Tag__link NoBackground" href="/tags/{{ name | replace: '.', '-' | slugify }}/" {% if tag.extra %}data-extra="{{ tag.extra }}" {% endif %}>
        {{ name }}<span class="visually-hidden"> tag</span>
      </a>
    </li>
  {% endfor %}
</ul>
