heading-anchors:not(:defined) :is(h2, h3, h4, h5, h6)[id]::after {
  content: "#";
  content: "#" / "";
  padding: 0 0.25em;
  opacity: 0;
}

.PostEdits::before {
  content: "§";
  transform: translate(-20%, 75%) rotate(-15deg);
}

.PostEdits__title {
  font-size: 100%;
  margin: 0;
}

.PostEdits__date {
  color: light-dark(var(--blue), var(--pink));
}
