.Header--post {
  margin-bottom: var(--vb-1\.5);
}

@media (min-width: 1024px) {
  .Header--post {
    position: relative;
    width: calc(100% + var(--margin-offset) * 2);
    left: calc(var(--margin-offset) * -1);
  }
}

.Header--post__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: var(--vb-half);
}

.PostMetadata {
  margin: 0;
  width: max-content;
}

.PostMetadata:first-of-type::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  margin-left: 0;
  margin-top: var(--vb-thirds);
  background-color: var(--blue);
  background-image: linear-gradient(to right, var(--pink), var(--blue));
}

@media (max-width: 768px) {
  .PostMetadata:first-of-type::after {
    content: none;
  }
}

.PostMetadata__updated {
  opacity: 0.7;
  display: block;
  font-size: 90%;
  position: relative;
}

.PostMetadata__updated::before {
  content: "";
  display: inline-block;
  border-left: 1px solid;
  border-bottom: 1px solid;
  opacity: 0.5;
  width: 0.75em;
  height: 0.75em;
  margin-left: 0.5ch;
  margin-right: 0.5ch;
  border-bottom-left-radius: 0.5em;
  corner-shape: squircle;
}
