.Resume__photo {
  float: left;
  shape-outside: circle(50%);
  margin: 0.5em 1em 0.5em 0;
  border-radius: 50%;
  max-width: 8em;
  display: none;
}

.Resume__links {
  text-align: center;
}

.Resume__links--print {
  display: none;
}

.Resume__intro {
  margin-bottom: 2em;
}

.Resume__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.Resume__section > h2 {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.Resume__section > div {
  padding-top: 0.9em;
}

.Resume__section > div > :last-child {
  margin-bottom: 0;
}

.Resume__section > div > :first-child {
  margin-top: 0;
}

.Resume__section h3 {
  font-size: 90%;
}

.Resume__section h3 span {
  margin-left: auto;
  opacity: 0.8;
  font-weight: normal;
  display: block;
}

.Resume__section li {
  margin: 0.5em 0;
}

@media print {
  .Resume {
    font-size: 75%;
  }

  .no-print,
  .Resume__links,
  .Resume__photo {
    display: none;
  }

  .Resume__links--print {
    display: block;
  }
}

@media (min-width: 768px) {
  .Resume__photo {
    display: block;
  }

  .Resume__section {
    margin-bottom: 3em;
    flex-direction: row;
  }

  .Resume__section > h2 {
    margin-top: revert;
    padding-right: 1.5em;
    font-size: 100%;
    text-align: right;
    border-right: 1px solid #dd7eb4;
    margin-right: 1.5em;
    flex: 0 0 8em;
  }

  .Resume__section h3 {
    display: flex;
  }

  .Resume__section h3 span {
    font-size: 80%;
    padding-left: 1em;
    display: inline-block;
    text-align: right;
  }
}
