.Resume__header {
  margin-top: -2.5em;
  margin-bottom: 2em;
  text-align: center;
  color: #666;
}

.Resume__header p:first-child {
  font-variant: small-caps;
  font-size: 1.2em;
}

.Resume__subline {
  font-size: 1.4em;
}

.Resume__contact {
  font-size: 0.8em;
}

.Resume__contact span:nth-child(1)::before { content: "kitty.giraudel@gmail.com" }
.Resume__contact span:nth-child(2)::before { content: "+491702295391" }


.Resume__header p {
  margin: 0;
}

.Resume__section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.Resume__section > h2 {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.Resume__section > div {
  padding-top: 0.9em;
}

.Resume__section > div > :last-child {
  margin-bottom: 0;
}

.Resume__section > div > :first-child {
  margin-top: 0;
}

.Resume__section h3 {
  font-size: 90%;
  break-after: avoid;
  margin-bottom: 0.5em;
}

.Resume__section h3 span {
  margin-left: auto;
  opacity: 0.8;
  font-weight: normal;
  display: block;
}

.Resume__section h3 + p{
  margin-top: 0;
}

.Resume__section li {
  margin: 0.5em 0;
}

@media (min-width: 767px), print {
  .Resume__section {
    flex-direction: row;
  }

  .Resume__section > h2 {
    margin-top: revert;
    padding-right: 1.5em;
    font-size: 100%;
    text-align: right;
    border-right: 1px solid #dd7eb4;
    margin-right: 1.5em;
    flex: 0 0 8em;
  }

  .Resume__section h3 {
    display: flex;
  }

  .Resume__section h3 span {
    font-size: 80%;
    padding-left: 1em;
    display: inline-block;
    text-align: right;
  }
}

@media print {
  .Resume {
    font-size: 70%;
  }

  .Title {
    font-size: 3.5em;
    font-variant: small-caps;
    letter-spacing: 0.05em;
    position: relative;
  }

  .Resume__section > div > :has(+ .no-print:last-child) {
    margin-bottom: 0;
  }
}
