/**
 * Site advertisement
 */
.site-ad {
  margin-top: 1.5em;

  @include media('>=medium') {
    float: right;
    margin-right: 2em;
  }
}

/**
 * Change default styles of CarbonAds
 * `!important` used to override inline styles
 */
.carbonad {
  background: transparent !important;
  height: auto !important;
  border: 0 !important;
  max-width: 100% !important;
  margin: 0 auto;
}

.carbonad a {
  color: inherit !important;
}

/**
 * Prevent hidden image from CarbonAds to mess with the layout
 */
#azcarbon > img {
  display: inline !important;
}
