/**
 * Site advertisement
 */
.site-ad {

  /**
   * Floated on medium screens
   */ 
  @include respond-to('medium') {
    float: right;
    margin-right: -1em;
    margin-left: 1em;
  }
}

/**
 * Change default styles of CarbonAds
 * 1. Override inline styles
 */
.carbonad {
  background: transparent !important; /* 1 */
  height: auto !important; /* 1 */
  border: 0 !important; /* 1 */
  color: $almost-white !important;
  max-width: 100% !important;
}

.carbonad a {
  color: inherit !important;
}

/**
 * Prevent hidden image from CarbonAds to mess the layout
 */
#azcarbon > img {
  display: inline !important;
}

.carbonad a::before,
.carbonad a::after {
  content: none;
}
