blockquote {
  margin: 0 0 1.5em;
  border-left: 0.5em solid;
  padding: 1em 0 1em 2em;
  color: #777;
}

/**
 * Prevent an odd gap when the first child of blockquote as a top margin
 */
blockquote > :first-child {
  margin-top: 0;
}

/**
 * Prevent an odd gap when the last child of blockquote as a bottom margin
 */
blockquote > :last-child {
  margin-bottom: 0;
}
