blockquote {
  margin: 0 0 1.5em;
  border-left: 0.5em solid $soft-pink;
  padding: 0.75em 0.75em 0.75em 2em;
  color: rgb(119, 119, 119);
  background-color: rgb(255, 250, 253);
}

/**
 * Prevent an odd gap when the first child of blockquote as a top margin
 */
blockquote > :first-child {
  margin-top: 0;
}

/**
 * Prevent an odd gap when the last child of blockquote as a bottom margin
 */
blockquote > :last-child {
  margin-bottom: 0;
}
