/**
 * Force the correct font-stack on all code elements, overriding Prism.js
 */
code {
  font-family: $code-font-stack !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/**
 * Make code blocks slightly smaller
 */
pre > code {
  font-size: 90%;
}

/**
 * Poor man's vertical rhythm
 * 1. Overrides Prism.js
 */
pre {
  margin: 0 -20px 40px !important; /* 1 */
  padding: 20px !important; /* 1 */

  @include respond-to('medium') {
    margin: 0 -40px 40px !important; /* 1 */
    padding: 20px 40px !important; /* 1 */
  }
}
