pre {
  margin-bottom: 1.5em;
  padding: 1em;
  overflow: auto;
  background-color: rgb(255, 250, 253);
}

code {
  font-family: $code-font-stack;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}

pre code {
  display: block;
}

$hl-light-green: #55efc4;
$hl-green: #00b894;
$hl-blue-light: #74b9ff;
$hl-blue: #0984e3;
$hl-purple-light: #a29bfe;
$hl-purple: #6c5ce7;
$hl-grey-light: #dfe6e9;
$hl-grey: #b2bec3;
$hl-yellow-light: #ffeaa7;
$hl-yellow: #ecb246;
$hl-peach-light: #fab1a0;
$hl-peach: #e17055;
$hl-red-light: #ff7675;
$hl-red: #d63031;
$hl-pink-light: #fd79a8;
$hl-pink: #e84393;
$hl-black-light: #636e72;
$hl-black: #2d3436;

.highlight .c {
  color: $hl-black-light;
} /* Comment */

.highlight .err {
  color: $hl-red;
  background-color: $hl-pink-light;
} /* Error */

.highlight .k {
  color: $hl-green;
  font-weight: bold;
} /* Keyword */

.highlight .o {
  color: $hl-black;
} /* Operator */

.highlight .cm {
  color: $hl-black-light;
} /* Comment.Multiline */

.highlight .cp {
  color: $hl-black-light;
} /* Comment.Preproc */

.highlight .c1 {
  color: $hl-black-light;
} /* Comment.Single */

.highlight .cs {
  color: $hl-red;
  font-weight: bold;
} /* Comment.Special */

.highlight .gd {
  color: $hl-red;
} /* Generic.Deleted */

.highlight .ge {
  font-style: italic;
} /* Generic.Emph */

.highlight .gr {
  color: $hl-red;
} /* Generic.Error */

.highlight .gh {
  color: #000080;
  color: $hl-blue;
  font-weight: bold;
} /* Generic.Heading */

.highlight .gi {
  color: $hl-green;
} /* Generic.Inserted */

.highlight .go {
  color: $hl-black-light;
} /* Generic.Output */

.highlight .gp {
  color: $hl-pink;
  font-weight: bold;
} /* Generic.Prompt */

.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */

.highlight .gu {
  color: $hl-purple;
  font-weight: bold;
} /* Generic.Subheading */

.highlight .gt {
  color: $hl-blue;
} /* Generic.Traceback */

.highlight .kc {
  color: $hl-green;
  font-weight: bold;
} /* Keyword.Constant */

.highlight .kd {
  color: $hl-green;
  font-weight: bold;
} /* Keyword.Declaration */

.highlight .kn {
  color: $hl-green;
  font-weight: bold;
} /* Keyword.Namespace */

.highlight .kp {
  color: $hl-blue;
  font-weight: bold;
} /* Keyword.Pseudo */

.highlight .kr {
  color: $hl-green;
  font-weight: bold;
} /* Keyword.Reserved */

.highlight .kt {
  color: $hl-blue;
  font-weight: bold;
} /* Keyword.Type */

.highlight .m {
  color: $hl-purple;
  font-weight: bold;
} /* Literal.Number */

.highlight .s {
  background-color: #fff0f0;
} /* Literal.String */

.highlight .na {
  color: $hl-purple;
} /* Name.Attribute */

.highlight .nb {
  color: $hl-green;
} /* Name.Builtin */

.highlight .nc {
  color: $hl-pink;
  font-weight: bold;
} /* Name.Class */

.highlight .no {
  color: $hl-blue;
  font-weight: bold;
} /* Name.Constant */

.highlight .nd {
  color: $hl-black-light;
  font-weight: bold;
} /* Name.Decorator */

.highlight .ni {
  color: $hl-red;
  font-weight: bold;
} /* Name.Entity */

.highlight .ne {
  color: $hl-red;
  font-weight: bold;
} /* Name.Exception */

.highlight .nf {
  color: $hl-blue;
  font-weight: bold;
} /* Name.Function */

.highlight .nl {
  color: $hl-yellow;
  font-weight: bold;
} /* Name.Label */

.highlight .nn {
  color: $hl-blue;
  font-weight: bold;
} /* Name.Namespace */

.highlight .nt {
  color: $hl-green;
} /* Name.Tag */

.highlight .nv {
  color: $hl-yellow;
} /* Name.Variable */

.highlight .ow {
  color: $hl-black;
  font-weight: bold;
} /* Operator.Word */

.highlight .w {
  color: $hl-grey;
} /* Text.Whitespace */

.highlight .mf {
  color: $hl-purple;
  font-weight: bold;
} /* Literal.Number.Float */

.highlight .mh {
  color: $hl-blue;
  font-weight: bold;
} /* Literal.Number.Hex */

.highlight .mi {
  color: $hl-blue;
  font-weight: bold;
} /* Literal.Number.Integer */

.highlight .mo {
  color: $hl-blue;
  font-weight: bold;
} /* Literal.Number.Oct */

.highlight .sb {
  background-color: #fff0f0;
} /* Literal.String.Backtick */

.highlight .sc {
  color: $hl-blue;
} /* Literal.String.Char */

.highlight .sd {
  color: $hl-red;
} /* Literal.String.Doc */

.highlight .s2 {
  background-color: #fff0f0;
} /* Literal.String.Double */

.highlight .se {
  color: $hl-black-light;
  font-weight: bold;
  background-color: #fff0f0;
} /* Literal.String.Escape */

.highlight .sh {
  background-color: #fff0f0;
} /* Literal.String.Heredoc */

// Rouge incorrectly marks props spreading as an error (`{...props}`)
.highlight .si,
.language-jsx .err {
  color: inherit;
  background-color: #e0e0e0;
} /* Literal.String.Interpol */

.highlight .sx {
  color: $hl-red;
  background-color: #fff0f0;
} /* Literal.String.Other */

.highlight .sr {
  color: #000000;
  background-color: #fff0ff;
} /* Literal.String.Regex */

.highlight .s1 {
  background-color: #fff0f0;
} /* Literal.String.Single */

.highlight .ss {
  color: $hl-yellow;
} /* Literal.String.Symbol */

.highlight .bp {
  color: $hl-green;
} /* Name.Builtin.Pseudo */

.highlight .vc {
  color: $hl-purple;
} /* Name.Variable.Class */

.highlight .vg {
  color: $hl-pink;
  font-weight: bold;
} /* Name.Variable.Global */

.highlight .vi {
  color: $hl-purple;
} /* Name.Variable.Instance */

.highlight .il {
  color: $hl-purple;
  font-weight: bold;
} /* Literal.Number.Integer.Long */
