/**
 * Figures
 * 2. Clear inner floats
 */
.figure {
  margin: 0 0 2em;
  overflow: hidden; /* 2 */
}

.figure img:only-of-type {
  margin-top: 0;
}

/**
 * Figcaption
 * 1. Right aligned
 */
.figure figcaption {
  @extend em;
  margin: -2em 0 0;
}

.figure--right,
.figure--left {
  @extend .figure;
}
