/**
 * Basic styles for images
 * 1. Warning, potentially dangerous if using inline images
 */
img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  margin: 1.5em 0;
}

.figure {
  margin: 0 0 1.5em;
}

.figure figcaption {
  color: $medium-grey;
  font-family: $code-font-stack;
  font-size: 75%;
}

.figure figcaption::before {
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  margin-top: -0.5em;
  margin-bottom: 1em;
  background-color: $blue;
}
