/**
 * Basic styles for images
 * 1. Warning, potentially dangerous if using inline images
 */
img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  margin: 1.5em 0 1em;
}

.figure {
  margin: 0 0 1.5em;
}

.figure figcaption {
  font-family: $code-font-stack;
  font-size: 60%;
  margin-top: -1em;
}

.figure figcaption::after {
  content: '';
  display: block;
  height: 1px;
  width: 25%;
  background-color: $soft-pink;
  margin-top: 1em;
}
