/**
 * List component (e.g. home, speaking)
 * 1. Undo default styling
 */
.list {
  padding: 0; /* 1 */
  margin: 0; /* 1 */
  list-style: none; /* 1 */
  clear: both;
}

h2 + .list > .list__item:first-child::before {
  content: none;
}

/**
 * List item
 */
.list__item {
  margin-bottom: 2em;
}

.list__item::before {
  content: '---\A ';
  display: block;
  white-space: pre;
  margin-bottom: 2em;
}

/**
 * List item primary content, emphasized
 * 1. Reset any weight (if any)
 */
.list__primary-content {
  margin: 0;
  display: block;
  font-weight: normal; /* 1 */
}

/**
 * List item secondary content
 */
.list__secondary-content {
  @extend em;
  margin: 0;
  display: block;
  position: relative;
}
