/**
 * Tables
 */
table {
  width: 100%;
  margin: 0 0 2em;
  border-collapse: collapse;

  thead {
    border-bottom: 2px solid $medium-grey;
  }
}

tr + tr {
  border-top: 1px solid $medium-grey;
}

td,
th {
  padding: .5em;
}

th {
  font-weight: bold;
  text-align: center;
}
