table {
  width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
}

thead {
  border-bottom: 0.1em solid $medium-grey;
}

tr + tr {
  border-top: 1px solid $medium-grey;
}

td,
th {
  padding: 0.5em;
}

th {
  text-align: left;
  font-weight: bold;
}
