/**
 * 1. Set up a decent box model on the root element.
 */
html {
  box-sizing: border-box; /* 1 */
}

/**
 * 1. Make all elements from the DOM inherit from the parent box-sizing
 *    Since `*` has a specificity of 0, it does not override the `html` value
 *    making all elements inheriting from the root box-sizing value.
 *    See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
::before,
::after {
  box-sizing: inherit; /* 1 */
}

/**
 * 1. Prevent horizontal scrolling.
 */
body {
  color: #444;
  font: 125% / 1.5 'Baskerville', 'Lucida Bright', 'Perpetua', 'Times', 'Times New Roman',
  'Palatino', 'Bookman', 'New Century Schoolbook', serif;
  overflow-x: hidden; /* 1 */

  @include media(">=tablet") {
    font-size: 140%;
  }
}

body::before {
  content: '';
  height: 8px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to right, stripes($colors));
}

p {
  margin-bottom: 1.5em;
}
