/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * 1. Leave room for sidebar
 * 2. Leave room for footer
 * 3. Leave room for header
 */
body {
  background: $dark-grey;

  @include respond-to('medium') {
    padding-left: $sidebar-width; /* 1 */
    padding-bottom: 2em; /* 2 */
    padding-top: 2em; /* 3 */
  }
}

/**
 * Basic styles for links
 */
a {
  color: $red;
  text-decoration: none;
}

a:not([class])::before {
  content: '[';
  color: $orange;
}

a:not([class])::after {
  content: '](' attr(href) ')';
  color: $orange;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
}

a:not([class]):hover::before,
a:not([class]):hover::after {
  color: $almost-white;
}

/**
 * Basic styles for images
 * 1. Warning, potentially dangerous if using inline images
 */
img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  margin: 2em 0;
}

/**
 * Basic styles for <hr />
 */
hr {
  border: 0;
  margin: 2em 0;
  display: block;
  height: 2em;
}

hr::after {
  content: '---';
}

::selection {
  background-color: rgba(255, 255, 255, 0.3);
}
