/**
 * Main content containers
 * 1. Make the container full-width with a maximum width
 * 3. Leave some space on the edges, especially valuable on small screens
 */
.container {
  max-width: 950px; /* 1 */
  max-width: 80ch; /* 1 */
  padding-left: 1em; /* 3 */
  padding-right: 1em; /* 3 */
  width: 100%; /* 1 */

  @include respond-to('medium') {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
