/**
 * Slightly move Disqus away from the content
 */
#disqus_thread {
  margin-top: 4em;
}

/**
 * CodePen embedded iframes
 */
.cp_embed_iframe {
  margin-bottom: 2em;
  border-bottom: 0.1em solid $medium-grey;
}
