/**
 * Basic typography style for copy text
 */
body {
  font: 1em / 2 $code-font-stack;
  color: $almost-white;

  @include respond-to('medium') {
    font-size: 1.25em;
  }
}

h1, h2, h3 {
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  color: $teal;
}

h1:not([class])::before {
  content: '# ';
}

/**
 * Headings level 2
 * 1. Enable position context for anchor links
 */
h2 {
  position: relative; /* 1 */
}

h2:not([class])::before {
  content: '## ';
}

/**
 * Select links living inside headings with no class
 * It turns out Markdown generated headings have no class
 * 1. Put it slightly off in the left margin
 */
h2:not([class]) a {
  position: absolute; /* 1 */
  left: -1em; /* 1 */
  text-decoration: none;
  color: $light-grey;

  display: none;
}

/**
 * Make the anchor link highlighter when hovering the heading
 */
h2:hover a,
h2:active a {
  // color: $secondary-color;
}

h3:not([class])::before {
  content: '### ';
}

p, ul, ol {
  margin-bottom: 1.5em;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

ol {
  counter-reset: ol;
}

li:not([class]) {
  padding-left: 1.4em;
  text-indent: -1.4em;
  color: $red;
}

ul > li:not([class])::before {
  content: '* ';
}

ol > li:not([class])::before {
  counter-increment: ol;
  content: counter(ol) '. ';
}

strong {
  color: $yellow;
}

strong::before,
strong::after {
  content: '**';
}

em {
  color: $pink;
  font-style: italic;
}

em::before,
em::after {
  content: '*';
}
