/**
 * Basic typography style for copy text
 */
body {
  font: 1em / 2 $code-font-stack;
  color: $almost-white;

  @include respond-to('medium') {
    font-size: 1.25em;
  }
}

/**
 * Basic styling for titles
 */
h1, h2, h3, h4 {
  font-size: 1em;
  margin-top: 4em;
  margin-bottom: 2em;
  color: $teal;
}

/**
 * Add Markdown styles
 */
h1:not([class])::before { content: '# '; }
h2:not([class])::before { content: '## '; }
h3:not([class])::before { content: '### '; }
h4:not([class])::before { content: '#### '; }

/**
 * Prevent too large gap when title comes after a horizontal rule
 */
hr + h1,
hr + h2,
hr + h3 {
  margin-top: 2em;
}

.site-ad + h1,
h1:first-child {
  margin-top: 2em;
}

/**
 * Select links living inside headings with no class
 * It turns out Markdown generated headings have no class
 * 1. Put it slightly off in the left margin
 */
h2:not([class]) a {
  display: none;
}

p, ul, ol {
  margin-bottom: 2em;
}

ul, ol {
  padding-left: 0;
  list-style: none;
}

li:not([class]) {
  padding-left: 1.4em;
  text-indent: -1.4em;
  color: $red;
}

ol {
  counter-reset: ol;
}

ul > li:not([class])::before {
  content: '* ';
}

ol > li:not([class])::before {
  counter-increment: ol;
  content: counter(ol) '. ';
}

strong {
  color: $yellow;
}

strong::before,
strong::after {
  content: '**';
}

em {
  color: $pink;
  font-style: italic;
}

em::before,
em::after {
  content: '*';
}
