/**
 * Main sections on the home page
 * 1. Full viewport height, or 800px if `vh` unsupported
 * 2. Subtle gradient to distinct one section for another when scrolling
 * 3. Enable position context for children
 */
.home-section {
  height: 800px; /* 1 */
  height: 100vh; /* 1 */
  background: -webkit-linear-gradient(to bottom, white, #EFEFEF);
  background: linear-gradient(to bottom, white, #EFEFEF); /* 2 */
  position: relative; /* 3 */
  text-align: center;
}

/**
 * Inner container from section
 * 1. Absolute centering
 */
.home-section__inner {
  position: absolute; /* 1 */
  left: 0; /* 1 */
  right: 0; /* 1 */
  top: 50%; /* 1 */
  transform: -webkit-translateY(-50%);
  transform: -ms-translateY(-50%);
  transform: translateY(-50%); /* 1 */

  /**
   * On home page, slightly move the container back up to balance the header height
   */
  .home-section:first-of-type & {
    margin-top: -90px;
  }
}

/**
 * Section title
 */
.home-section__title {
  margin: 0;
  font-size: 1em;
}

/**
 * Section main content
 */
.home-section__primary-content {
  font-size: 1.5em;
  margin: 0 0 15px;
}

/**
 * Section secondary content
 */
.home-section__secondary-content {
  color: $medium-grey;
  font-family: $code-font-stack;
  margin: 0;
}

/**
 * Section footer
 * 1. Horizontal centering
 * 2. Bottom alignment
 */
.home-section__footer {
  position: absolute; /* 1 */
  left: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 80px; /* 2 */
  text-align: center;
}

/**
 * Avatar
 */
.home-section__image {
  border-radius: 50%;
  margin-bottom: 20px;
  max-height: 150px;
}
