/**
 * Home sections
 */
section {
  padding: 20px 0;
  margin: 10px 0;
  border-bottom: 1px solid $light-grey;
}

/**
 * First home section
 */
section:first-of-type {
  margin-top: 0;
  padding-top: 0;
}

/**
 * Home sections title
 */
section > h2:first-of-type {
  margin-top: 0;
}

/**
 * Home profile
 */
.profile {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;

  @include respond-to('medium') {
    text-align: initial;
  }
}

/**
 * Profilte avatar
 */
.profile__avatar {
  margin-bottom: 40px;
  border-radius: 50%;

  @include respond-to('medium') {
    max-width: 150px;
    float: left;
    margin-right: 40px;
  }
}

/**
 * Profile name
 */
.profile__name {
  font-size: 24px;
  margin: 0 0 20px;
}

.profile__description,
.profile__job {
  margin: 0 0 5px;
  color: $medium-grey;
}
