@function stripes($colors, $direction: "to bottom") {
  $stripe-width: 100% / length($colors);
  $auto: if(type-of(nth($colors, 1)) == list, false, true);
  $gradient: ();

  @for $i from 1 through length($colors) {
    $item: nth($colors, $i);
    $dump: ();

    @if $auto == true {
      $dump: $item $stripe-width * ($i - 1), $item $stripe-width * $i;
    } @else {
      @if $i > 1 {
        $previous-item: nth($colors, $i - 1);
        $dump: append($dump, nth($item, 1) nth($previous-item, 2));
      }
      $dump: append($dump, $item);
    }

    $gradient: join($gradient, $dump, comma);
  }

  @return $gradient;
}
