$soft-pink: rgb(221, 126, 180);
$soft-blue: rgb(90, 170, 223);
$sidebar-width: 350px;
$breakpoints: (
  'medium': 750px
);
$text-font-stack: Baskerville, Lucida Bright, Perpetua, Times, Times New Roman,
  Palatino, Bookman, New Century Schoolbook, serif;
$code-font-stack: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier,
  monospace;
