blockquote {
  margin: 5px 0 1.5em;
  padding: 0.75em 1.5em;
  background-color: lighten($soft-pink, 30%);
  position: relative;

  @include media('>desktop') {
    margin: 2em 0;
    width: calc(100% + 4em);
    padding: 1em 2em;
    position: relative;
    left: -2em;
  }
}

blockquote::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 5px;
  background-image: linear-gradient(to right, stripes($colors));
  opacity: 0.7;
}

/**
 * Prevent an odd gap when the first child of blockquote as a top margin
 */
blockquote > :first-child {
  margin-top: 0;
}

/**
 * Prevent an odd gap when the last child of blockquote as a bottom margin
 */
blockquote > :last-child {
  margin-bottom: 0;
}

blockquote p + p {
  margin-top: -1em;
}

.Info {
  @extend blockquote;
}
