.Main {
  counter-reset: footnotes;
}

.Footnotes {
  position: relative;
  margin-top: 4em;
}

.Footnotes::before {
  content: '';
  background-image: linear-gradient(to right, stripes($colors));
  height: 4px;
  border-radius: 4px;
  width: 100%;
  display: block;
}

.Footnotes__ref[role='doc-noteref'] {
  counter-increment: footnotes;
  background-image: none;
  cursor: default;
}

.Footnotes__ref[role='doc-noteref']::after {
  content: '[' counter(footnotes) ']';
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.Footnotes__ref[role='doc-noteref']:focus::after {
  outline: thin dotted;
  outline-offset: 2px;
}

.Footnotes__ref[role='doc-noteref']:hover {
  color: inherit;
}

.Footnotes__ref[role='doc-backlink']::after {
  content: none;
}

[role='doc-endnotes'] {
  font-size: 80%;
}
