a {
  color: $soft-blue;
  border-bottom: 1px dotted;
  text-decoration: none;
}

a:hover,
a:active {
  border-bottom-style: solid;
  color: darken($soft-blue, 10%);
}

a:visited {
  color: inherit;
}
