.Title {
  color: $soft-pink;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1;
  margin: 1em 0 0.5em;
  text-align: center;

  @include media(">=tablet") {
    font-size: 3.5em;
  }
}

.Title__link {
  color: inherit;
  border-bottom: 0;
}

@media print {
  .Title {
    font-size: 2em;
  }
}
