.Ad {
  background-color: light-dark(#fffafd, #322d2f);
  border: 2px solid light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));
  border-radius: 1em;
  corner-shape: squircle;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin: var(--vb) auto;
  padding: 0.5em;
  position: relative;
}

.Ad:not(:has(#carbonads)) {
  display: none;
}

@media (min-width: 600px) {
  .Ad {
    flex-direction: row;
  }
}


.Ad__content {
  font-size: 80%;
}

.Ad__content > p {
  margin: 0;
}

/**
 * Site advertisement
 * 1. Computed height to minimise CLS.
 */
.Ad__holder {
  width: max-content;
  max-width: 100%;
  min-height: 114px; /* 1 */
  min-width: 284px;
  background-color: light-dark(white, #222);
  color: #444;
}

@media screen and (min-width: 1556px) {
  .Ad {
    display: contents;
  }
  
  .Ad__content {
    display: none;
  }

  .Ad__holder {
    position: fixed;
    bottom: 0.5em;
    right: 1em;
    min-height: 0;
    z-index: 100;
  }
}

#carbonads {
  display: flex;
  max-width: 330px;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  background-image: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads a:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
  border: 1px solid rgb(0 0 0 / 0.1);
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
  margin: 0;
}

#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
