/**
 * Site advertisement
 * 1. Computed height to minimise CLS.
 */
.Ad {
  margin: var(--vb) auto;
  max-width: 100%;
  height: 114px; /* 1 */
  background-color: white;
}

@media (min-width: 1300px) {
  .Ad {
    position: fixed;
    bottom: -0.5em;
    right: 1em;
    height: auto;
    z-index: 100;
  }
}

#carbonads {
  display: flex;
  max-width: 330px;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
  background-image: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads a:focus {
  outline: auto 5px -webkit-focus-ring-color;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

#carbonads .carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

#carbonads .carbon-img img {
  display: block;
  margin: 0;
}

#carbonads .carbon-text {
  font-size: 13px;
  padding: 10px;
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: left;
}

#carbonads .carbon-poweredby {
  display: block;
  padding: 6px 8px;
  background: #f1f1f2;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1;
  border-top-left-radius: 3px;
  position: absolute;
  bottom: 0;
  right: 0;
}
