.Baseline {
	margin: var(--vb) auto;
}

.Baseline:has(:focus-within) {
	outline: 2px solid var(--pink);
	outline-offset: 2px;
	border-radius: 0.5rem;
}

/**
 * 1. The <baseline-status> element comes with a maximum width of 800px, which
 *    we do not need.
 * 2. Use `rem` instead of `em` because the <baseline-status> element defines
 *    its own font size.
 * 3. CSS trick to have a gradient border *with* rounded corners.
 */
.Baseline baseline-status {
	max-width: none; /* 1 */
	border-radius: 1rem; /* 2 */
	corner-shape: squircle;
	border: 2px solid transparent; /* 3 */
	background-image:
		linear-gradient(var(--embed-background-pink), var(--embed-background-pink)),
		linear-gradient(to right, var(--pink), var(--blue)); /* 3 */
	background-origin: border-box; /* 3 */
	background-clip: padding-box, border-box; /* 3 */
}

.Baseline:has(:focus-within) baseline-status::part(summary) {
	outline: 0;
}
