blockquote,
.Info {
  margin: var(--vb) 0;
  padding: 0.75em 1.5em;
  position: relative;
  background-color: light-dark(#f3f8fc, #303132);
  border-radius: 1em;
  corner-shape: squircle;
  border: 2px solid transparent;
  background-image: linear-gradient(light-dark(#f3f8fc, #303132), light-dark(#f3f8fc, #303132)), linear-gradient(to right, #267cb9, #dd7eb4);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

/**
 * 1. Add some extra spacing around the blockquote to give room to the quotation marks.
 */
blockquote {
  margin: calc(var(--vb) * 1.5) 0; /* 1 */
}

blockquote::before,
blockquote::after {
  position: absolute;
  font-size: 1000%;
  opacity: 0.2;
  font-family: Baskerville, serif;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
}

blockquote::before {
  content: '“';
  color: #267cb9;
  bottom: 100%;
  right: 100%;
  transform: translate(67%, 73%);
}

blockquote::after {
  content: '”';
  color: #dd7eb4;
  top: 100%;
  left: 100%;
  transform: translate(-67%, -37%);
}

/**
 * 1. Ensure the text inside the blockquote sits on top of the quotation marks.
 */
blockquote > p {
  z-index: 2; /* 1 */
  position: relative; /* 1 */
}

@media (min-width: 1024px) {
  /**
   * 1. Increase width so the blockquote/info container looks wider than the
   *    body text, but the text within it is aligned with the body text.
   */
  blockquote,
  .Info {
    width: calc(100% + 4em); /* 1 */
    padding: 1em 2em; /* 1 */
    left: -2em; /* 1 */
  }
}

/**
 * 1. Prevent an odd gap when the first child of blockquote has a top margin
 */
.Info > :first-child,
blockquote > :first-child {
  margin-top: 0; /* 1 */
}

/**
 * 1. Prevent an odd gap when the last child of blockquote has a bottom margin
 */
.Info > :last-child,
blockquote > :last-child {
  margin-bottom: 0; /* 1 */
}
