blockquote,
.Info {
  margin: 5px 0 1.5em;
  padding: 0.75em 1.5em;
  position: relative;
  background-color: #f3f8fc;
}

@media (min-width: 1024px) {
  blockquote,
  .Info {
    margin: 2em 0;
    width: calc(100% + 4em);
    padding: 1em 2em;
    position: relative;
    left: -2em;
  }
}

.Info::before,
blockquote::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 5px;
  opacity: 0.7;
  transform: scaleX(-1);
}

/**
 * Prevent an odd gap when the first child of blockquote as a top margin
 */
.Info > :first-child,
blockquote > :first-child {
  margin-top: 0;
}

/**
 * Prevent an odd gap when the last child of blockquote as a bottom margin
 */
.Info > :last-child,
blockquote > :last-child {
  margin-bottom: 0;
}

.Info p + p,
blockquote p + p {
  margin-top: -1em;
}
