.CardGrid {
	display: grid;
	align-items: start;
	list-style: none;
	gap: var(--vb-thirds);
	position: relative;
	padding-inline-start: 0;
	margin-block: var(--vb);
}

@media (min-width: 400px) {
	.CardGrid {
		gap: var(--vb-half);
		grid-template-rows: masonry;
		grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	}
}

@media (min-width: 768px) {
	.CardGrid {
		padding-inline: var(--vb-half);
		--width: 100vw;
		width: var(--width);
		left: 50%;
		right: 50%;
		margin-left: calc(var(--width) / -2);
		margin-right: calc(var(--width) / -2);
	}
}

@media (min-width: 1024px) {
	.CardGrid {
		--width: 95vw;
	}
}

.CardGrid__item {
	margin: 0;
}

@supports (display: grid-lanes) {
	.CardGrid {
		display: grid-lanes;
		grid-template-rows: unset;
	}
}
