pre {
  margin-bottom: 1.5em;
  padding: 1em;
  overflow: auto;
  background-color: rgb(255, 250, 253);
}

code {
  font-family: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo',
    'Courier', monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}

pre code {
  display: block;
}

:not(pre):not(a) > code {
  background-color: #f8e3ef;
  border-radius: 0.25em;
  padding: 0 0.2em;
  font-size: 70%;
}

.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636e72;
}
.token.punctuation {
  color: #b2bec3;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fd79a8;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #00b894;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e17055;
  background: #ffffff;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0984e3;
}
.token.function {
  color: #e84393;
}
.token.regex,
.token.important,
.token.variable {
  color: #ecb246;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
