/**
 * 1. Prevent `em` values from being different due to the browser applying a
 *    monospace font by default.
 * 2. Positioning context for the decorative pseudo-elements.
 * 3. CSS trick to have a gradient border *with* rounded corners.
 */
pre {
  --background-color: light-dark(#fffafd, #322d2f);
  background-color: var(--background-color);
  margin: var(--vb) 0;
  padding: 1.25em;
  overflow: auto;
  font-family: inherit; /* 1 */
  position: relative; /* 2 */
  border-radius: 1em;
  corner-shape: squircle;
  border: 2px solid transparent; /* 3 */
  background-image:
    linear-gradient(var(--background-color), var(--background-color)),
    linear-gradient(to right, var(--pink), var(--blue)); /* 3 */
  background-origin: border-box; /* 3 */
  background-clip: padding-box, border-box; /* 3 */
  clear: right;
}

@media (min-width: 1024px) {
  /**
   * 1. Increase width so the code container looks wider than the body text, but
   *    the text within it is aligned with the body text.
   */
  :not(aside) > pre {
    width: calc(100% + 4em); /* 1 */
    padding: 1.5em 2em; /* 1 */
    left: -2em; /* 1 */
  }
}

code {
  font-family: var(--code-font);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}

pre code {
  display: block;
}

:not(pre) > code {
  background-color: light-dark(rgb(255 251 253 / 0.5), rgb(50 45 47 / 0.5));
  border-radius: 0.25em;
  padding: 0.1em 0.25em;
  font-size: 70%;
  border: 2px solid light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));
}

.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: light-dark(#6f7b80, #a8afb2);
}

.token.punctuation {
  color: #95a6ad;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fc4787;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #009f7f;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e17055;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: light-dark(#087bd4, #6aafe5);
}

.token.function {
  color: #e84393;
}
.token.regex,
.token.important,
.token.variable {
  color: #ecb246;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

.highlight-line-active {
  background-color: light-dark(rgb(255 192 203 / 0.4), rgb(255 192 203 / 0.2));
  color: inherit;
  border-radius: 0.25em;
}