pre {
  margin: 1.5em 0;
  padding: 1.25em 1.5em;
  overflow: auto;
  position: relative;
  background-color: #fffafd;
}

@media (min-width: 1024px) {
  /**
   * 1. Increase width so the code container looks wider than the body text, but
   *    the text within it is aligned with the body text.
   */
  pre {
    width: calc(100% + 4em); /* 1 */
    padding: 1.5em 2em; /* 1 */
    left: -2em; /* 1 */
  }
}

pre::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 4px 4px 0 0;
  opacity: 0.7;
  background-image: linear-gradient(to right, #dd7eb4, #2984c2);
}

code {
  font-family: var(--code-font);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}

pre code {
  display: block;
}

:not(pre):not(a) > code {
  background-color: #f8e3ef;
  border-radius: 0.25em;
  padding: 0 0.2em;
  font-size: 70%;
}

.namespace {
  opacity: 0.7;
}
.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #636e72;
}
.token.punctuation {
  color: #b2bec3;
}
.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fd79a8;
}
.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #00b894;
}
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e17055;
  background: #ffffff;
}
.token.atrule,
.token.attr-value,
.token.keyword {
  color: #0984e3;
}
.token.function {
  color: #e84393;
}
.token.regex,
.token.important,
.token.variable {
  color: #ecb246;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
