/**
 * 1. Prevent `em` values from being different due to the browser applying a
 *    monospace font by default.
 */
pre {
  margin: var(--vb) 0;
  padding: 1.25em 1.5em;
  overflow: auto;
  font-family: inherit; /* 1 */
  border-radius: 1em;
  corner-shape: squircle;
  border: 2px solid transparent;
  background-image: linear-gradient(light-dark(#fffafd, #322d2f), light-dark(#fffafd, #322d2f)), linear-gradient(to right, #dd7eb4, #267cb9);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

@media (min-width: 1024px) {
  /**
   * 1. Increase width so the code container looks wider than the body text, but
   *    the text within it is aligned with the body text.
   */
  pre {
    width: calc(100% + 4em); /* 1 */
    padding: 1.5em 2em; /* 1 */
    left: -2em; /* 1 */
  }
}

code {
  font-family: var(--code-font);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 80%;
}

pre code {
  display: block;
}

:not(pre):not(a) > code {
  background-color: light-dark(#f8e3ef, #3f393b);
  border-radius: 0.25em;
  padding: 0 0.2em;
  font-size: 70%;
}

.namespace {
  opacity: 0.7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: light-dark(#6f7b80, #a8afb2);
}

.token.punctuation {
  color: #95a6ad;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #fc4787;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #009f7f;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #e17055;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: light-dark(#087bd4, #6aafe5);
}

.token.function {
  color: #e84393;
}
.token.regex,
.token.important,
.token.variable {
  color: #ecb246;
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}
