.DarkModeToggle {
  position: fixed;
  bottom: 1em;
  right: 1em;

  background-color: #fff;
  color: inherit;
  border: 1px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: 250ms;

  padding: 0.25em;
  width: 2.6em;
  height: 2.6em;
  z-index: 10;
}

.DarkModeToggle[aria-pressed="true"] {
  background-color: #222;
}


@media (min-width: 1024px) {
  .DarkModeToggle {
    bottom: 2em;
    right: 2em;
  }
}

@media (min-width: 1300px) {
  .DarkModeToggle {
    left: 2em;
  }
}

.DarkModeToggle:hover,
.DarkModeToggle:focus {
  box-shadow: 0 0 0 3px deeppink;
}

.DarkModeToggle > svg {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  fill: currentcolor;
}
