.DottedList {
  list-style: none;
}

.DottedList > li {
  display: inline-block;
}

.DottedList > li:not(:last-of-type)::after {
  content: '·';
  color: initial;
  opacity: 0.5;
  font-family: monospace;
}
