.figure {
  margin: var(--vb) 0;
  position: relative;
}

.figure figcaption {
  font-family: var(--code-font);
  font-size: 60%;
  display: inline-block;
}

.figure figcaption::before {
  content: '';
  display: block;
  height: 4px;
  border-radius: 4px;
  background-image: linear-gradient(to right, var(--pink), var(--blue));
  margin-top: calc(var(--vb-1\/3) * -1);
  margin-bottom: var(--vb-2\/3);
}

@media (min-width: 1400px) {
  .figure figcaption {
    width: 100%;
    max-width: 250px;
    position: absolute;
    right: 100%;
    top: 0.5em;
    text-align: right;
    padding-right: 2.5em;
  }

  .figure figcaption::before {
    margin-bottom: var(--vb);
  }
}
