.Figure {
	margin: var(--vb) 0;
	position: relative;
}

.Figure figcaption {
	font-family: var(--code-font);
	font-size: 60%;
	display: inline-block;
}

.Figure figcaption::before {
	content: "";
	display: block;
	height: 4px;
	border-radius: 4px;
	background-image: linear-gradient(to right, var(--pink), var(--blue));
	margin-block: calc(var(--vb-third) * -1) var(--vb-thirds);
}

@media (min-width: 1400px) {
	.Figure figcaption {
		width: 100%;
		max-inline-size: 250px;
		position: absolute;
		inset-inline-end: 100%;
		inset-block-start: 0.5em;
		text-align: end;
		padding-inline-end: 2.5em;
	}

	.Figure figcaption::before {
		margin-block-end: var(--vb);
	}
}
