.Footnotes {
  margin: var(--vb) 0;
  padding: 0.75em 1.5em;
  position: relative;
  background-color: #f6f4f9;
}

@media (min-width: 1024px) {
  /**
   * 1. Increase width so the footnotes container looks wider than the body
   *    text, but the text within it is aligned with the body text.
   */
  .Footnotes {
    width: calc(100% + 4em); /* 1 */
    padding: 1em 2em; /* 1 */
    left: -2em; /* 1 */
  }
}

.Footnotes__title {
  font-size: 100%;
  margin: 0;
}

.Footnotes__list {
  font-size: 80%;
}

.Footnotes__list-item:not(:last-child) {
  margin: calc(var(--vb) / 3) 0;
}

.Footnotes__ref[role='doc-noteref'] {
  background-image: none;
  cursor: default;
}

.Footnotes__ref[role='doc-noteref']::after {
  content: '[' counter(footnotes) ']';
  counter-increment: footnotes;
  vertical-align: super;
  font-size: 0.6em;
  margin-left: 2px;
  color: #267cb9;
  text-decoration: underline;
  cursor: pointer;
  background-image: linear-gradient(to right, #f2cfe3, #c4e0f3);
  background-size: 100% 0%;
}

.Footnotes__ref[role='doc-noteref']:focus::after {
  background-size: inherit;
}
