.figure {
  margin: 1.5em 0;
}

.figure figcaption {
  font-family: var(--code-font);
  font-size: 60%;
  display: inline-block;
}

.figure figcaption::before {
  content: '';
  display: block;
  height: 4px;
  border-radius: 4px;
  background-image: linear-gradient(to right, #dd7eb4, #2984c2);
  margin-top: -0.5em;
  margin-bottom: 1em;
}
