.List {
  list-style: none;
  padding-left: 0;
}

.List__item {
  padding: var(--vb-thirds) 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.List__item p {
  margin: 0;
}

.List__primary-content {
  font-size: 150%;
  line-height: 1.1;
  margin: var(--vb-third) 0 var(--vb-quarter);
}

.List__secondary-content {
  font-size: 75%;
  font-family: var(--code-font);
}
