.PostDate {
  text-align: center;
  margin-top: 0;
  margin-bottom: calc(var(--vb) * 1.5);
}

.PostDate::after {
  content: '';
  display: block;
  width: 25%;
  height: 1px;
  margin: var(--vb) auto 0;
  background-color: #267cb9;
  background-image: linear-gradient(to right, #dd7eb4, #267cb9);
}
