.PostDate {
  text-align: center;
  margin-top: 0;
  margin-bottom: var(--vb-1\.5);
}

.PostDate:first-of-type::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: var(--vb) auto 0;
  background-color: var(--blue);
  background-image: linear-gradient(to right, var(--pink), var(--blue));
}
