.Search {
	margin-block-start: var(--vb);
}

.Search__input {
	width: 100%;
	display: block;
	position: relative;
	padding: 0.5em var(--margin-offset);
	margin-block-end: var(--vb);

	-webkit-appearance: textfield;
	background-color: var(--page-background);
	border: 2px solid var(--blue);
	border-radius: 0.5em;
	corner-shape: squircle;
	transition: 250ms;

	font: inherit;
	color: inherit;
}

@media (min-width: 1024px) {
	.Search__input {
		width: calc(100% + var(--margin-offset) * 2);
		inset-inline-start: calc(var(--margin-offset) * -1);
	}
}

.Search__input:focus {
	outline: 2px solid var(--pink);
	outline-offset: 2px;
}

::placeholder {
	color: inherit;
	opacity: 0.7;
}

.Search__error,
.Search__empty {
	margin-block-start: var(--vb);
}
