.Showcase {
  margin: var(--vb) 0;
}

.Showcase::after {
  content: '';
  display: block;
  clear: right;
}

.Showcase__title {
  margin-bottom: calc(var(--vb) / 3);
}

.Showcase__copy {
  margin-top: 0;
}

.Showcase__container {
  display: flex;
  margin: 0 -0.5em;
  flex-wrap: wrap;
}

/**
 * 1. Offset by half the extra width (10ch), half the container padding (2em)
 *    and the left margin (0.5em).
 */
@media (min-width: 1024px) {
  .Showcase__container {
    width: 90ch;
    position: relative;
    left: calc(-5ch - 1em - 0.5em); /* 1 */
  }
}

.Showcase__item {
  padding: 0.5em;
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 100%;
  margin-bottom: 0.75em;
}

@media (min-width: 768px) {
  .Showcase__item {
    flex: 1 0 calc(100% / 3);
    margin-bottom: 0;
  }
}

.Showcase__link {
  font-size: 80%;
  float: right;
}

/**
 * 1. Offset by half the extra width (10ch), the container padding (2em) and
 *    the right margin (0.5em).
 */
@media (min-width: 1024px) {
  .Showcase__link {
    position: relative;
    left: calc(5ch + 2em + 0.5em); /* 1 */
  }
}

.Showcase__link::before {
  content: '→ ';
  color: #dd7eb4;
}
