.SkipLink {
  display: none;
  overflow: hidden;
  height: 1px;
  width: 1px;
  position: absolute;
  top: calc(0.5em + 10px);
  left: 0.75em;
  font-size: 80%;
  outline: none;
}

@media (min-width: 768px) {
  .SkipLink {
    display: block;
  }
}

.SkipLink:focus {
  height: auto;
  width: auto;
  border-bottom: 2px solid #dd7eb4;
}
