/**
 * 1. Visually hide the link
 * 2. Place the link at the top left of the page
 */
.SkipLink {
  clip: rect(1px, 1px, 1px, 1px); /* 1 */
  overflow: hidden; /* 1 */
  height: 1px; /* 1 */
  width: 1px; /* 1 */
  position: absolute; /* 2 */
  top: 1em; /* 2 */
  left: 1em; /* 2 */
  font-size: 80%;
  outline: none;
  color: inherit;
  border-bottom: 2px solid transparent;
}

/**
 * 1. Display the link on focus/active
 */
.SkipLink:focus,
.SkipLink:active {
  clip: auto; /* 1 */
  height: auto; /* 1 */
  width: auto; /* 1 */
  overflow: visible; /* 1 */
  border-bottom-color: #dd7eb4;
}
