/**
 * 1. Position context for the absolutely positioned content that pops out.
 * 2. Reduce the font size of the table of contents to make it less intrusive.
 * 3. Align the background color with the footnotes.
 */
.TableOfContents {
	position: relative; /* 1 */
	width: fit-content;
	max-inline-size: 300px;
	min-inline-size: 250px;
	font-size: 80%; /* 2 */
	z-index: calc(var(--z-set) + 2);
	--toc-background-color: light-dark(#f6f4f9, #303132); /* 3 */
}

@media (max-width: 768px) {
	/**
	 * 1. Make the table of contents full-width on small screens.
	 */
	.TableOfContents {
		width: 100%; /* 1 */
		max-inline-size: none; /* 1 */
	}
}

/**
 * 1. Cheap way to reduce the color of the title without introducing a new color.
 * 2. Make the title appear interactive.
 * 3. Prevent a weird text selection when double-clicking the title.
 * 4. Remove the default little triangle from the summary.
 * 5. Use the flex layout to push the custom arrow to the inline end.
 */
.TableOfContents__title {
	opacity: 0.8; /* 1 */
	cursor: pointer; /* 2 */
	user-select: none; /* 3 */
	list-style: none; /* 4 */
	display: flex; /* 5 */
	gap: 1ch; /* 5 */
	padding: 0.75rem 1.25rem;
	border-radius: 1em;
	corner-shape: squircle;
	border: 2px solid light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));
	background-color: var(--toc-background-color);
	transition: 300ms;
}

.TableOfContents__title:focus-visible {
	outline: 2px solid var(--pink);
	outline-offset: 2px;
}

.TableOfContents__title .Fleuron {
	transform: scale(1.3);
	position: relative;
}

.TableOfContents__list {
	list-style: none;
	margin: 0;
	padding-inline-start: 0;
}

.TableOfContents__item {
	margin-block: var(--vb-quarter);
	line-height: 1.1;
}

.TableOfContents__list--sublist {
	margin-block-start: var(--vb-sixth);
	margin-inline-start: 1.25rem;
}

.TableOfContents__list--sublist .TableOfContents__item {
	font-size: 90%;
}

.TableOfContents::details-content {
	opacity: 0;
	background-color: var(--toc-background-color);
	padding: 0.75em 1.25em;
	inset-block-start: calc(100% - 2px);
	border: 2px solid light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));
	border-top-width: 0;
	border-radius: 0 0 1em 1em;
	corner-shape: squircle;
	transition:
		opacity 300ms,
		content-visibility 300ms allow-discrete;
}

@media (min-width: 769px) {
	.TableOfContents::details-content {
		position: absolute;
		inset-inline-start: 0;
		inset-inline-end: 0;
		border-top-width: 2px;
	}
}

.TableOfContents[open]::details-content {
	opacity: 1;
}

.TableOfContents[open] .TableOfContents__title {
	border-end-start-radius: 0;
	border-end-end-radius: 0;
}

.TableOfContents .TableOfContents__title::after {
	content: "↓";
	font-family: monospace;
	display: inline-block;
	transition: transform 0.2s ease-in-out;
	margin-inline-start: auto;
}

.TableOfContents[open] .TableOfContents__title::after {
	transform: rotate(180deg);
}
