table {
  width: 100%;
  margin: var(--vb) 0;
  border-collapse: collapse;
}

table thead tr:first-child > :first-child {
  border-top-left-radius: 1em;
}

thead {
  border-bottom: 2px solid;
}

tr + tr {
  border-top: 1px solid var(--pink);
}

td,
th {
  padding: 0.5em;
}

th {
  text-align: left;
  font-weight: bold;
}
