.TableOfContents {
  padding: 1em 1.25em;
  border-radius: 1em;
  corner-shape: squircle;
  border: 2px solid light-dark(rgb(0 0 0 / 0.1), rgb(255 255 255 / 0.1));
  background-color: light-dark(#f6f4f9, #303132);
  font-size: 90%;
  margin-bottom: var(--vb);
}

@media (min-width: 700px) {
  .TableOfContents {
    float: right;
    max-width: 300px;
    margin-left: var(--vb);
  }
}

@media (min-width: 1140px) {
  .TableOfContents {
    margin-right: -150px;
    margin-bottom: var(--vb);
  }
}

.TableOfContents__title {
  margin: 0 0 var(--vb-half);
  font-weight: 600;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-size: 80%;
  opacity: 0.8;
}

.TableOfContents__title .Fleuron {
  transform: scale(1.5);
  position: relative;
}

.TableOfContents__list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.TableOfContents__item {
  margin: var(--vb-quarter) 0;
  line-height: 1.1;
}

.TableOfContents__list--sublist {
  margin-top: var(--vb-sixth);
  margin-left: 1.25rem;
}

.TableOfContents__list--sublist .TableOfContents__item {
  font-size: 90%;
}
