.ThemeButton {
  position: fixed;
  inset-block-end: 0.5em;
  inset-inline-end: 0.5em;
}

.ThemeButton[aria-pressed="false"] > .ThemeButton__icon:not([data-theme="light"]),
.ThemeButton[aria-pressed="mixed"] > .ThemeButton__icon:not([data-theme="auto"]),
.ThemeButton[aria-pressed="true"] > .ThemeButton__icon:not([data-theme="dark"]) {
  display: none;
}

@media (min-width: 1024px) {
  .ThemeButton {
    inset-block-end: 1em;
    inset-inline-end: 1em;
  }
}

@media screen and (min-width: 1556px) {
  .ThemeButton {
    inset-inline-end: 1em;
    inset-inline-start: auto;
  }
}
