.Tile {
  padding: 1em;
  background-color: #fdf7fa;
  position: relative;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  border-radius: 0 0 0.1em 0.1em;
}

.Tile::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: -1px;
  right: -1px;
  height: 4px;
  opacity: 0.7;
  transition: opacity 250ms;
  border-radius: 4px 4px 0 0;
  background-image: linear-gradient(to right, #dd7eb4, #267cb9 100%);
}

.Tile:hover::before {
  opacity: 1;
}

.Tile__primary {
  margin: 0 0 0.2em;
  line-height: 1.2;
}

.Tile__secondary {
  margin: 0 0 1em;
  line-height: 1.2;
  font-size: 80%;
  color: #9a2869;
}

.Tile__link {
  font-size: 80%;
  margin-top: auto;
  align-self: flex-start;
}

.Tile__link::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
