.Title {
  color: #dd7eb4;
  font-size: 2.5em;
  font-weight: 300;
  line-height: 1.15;
  margin: 1em 0 0.5em;
  text-align: center;
}

@media (min-width: 768px) {
  .Title {
    font-size: 3.5em;
  }
}

.Title__link {
  color: inherit;
  display: inline-block;
  border-bottom: 0;
  background-image: linear-gradient(to right, #dd7eb4, #267cb9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media print {
  .Title {
    font-size: 2em;
  }
}
