---
layout: default
title: Looking for something
excerpt: Search page for all articles aggregated on the blog.
keywords:
- blog
- search
- writing
permalink: /blog/search/
---

{% include "styles.html", partials: "components/search" %}
{% include "script.html", partials: "vendors/jekyll-search" %}

{% include "ad.html" %}

{% markdown %}
In almost 300 posts, I probably have written something at least a bit
interesting. What about giving it a search?
{% endmarkdown %}

{% include "search.html" %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    loadJS('{{ "/assets/js/vendors/jekyll-search.js" }}', search)
  });

  function search() {
    SimpleJekyllSearch({
      searchInput: document.getElementById('search-input'),
      resultsContainer: document.getElementById('results-container'),
      json: 'data.json',
      searchResultTemplate: '<li class="List__item">\
      <span class="List__secondary-content">{date}{guest}{external}</span>\
      <a href="{url}" class="List__primary-content" lang="{lang}" hreflang="{lang}">{title}</a>\
    </li>',
      noResultsText: '<li class="List__item">Sorry, I could not find any result for your search. :( Hey, if you really wanna have results, I suggest looking for “access” or “sass”!</li>'
    });
  }
</script>
