/* ------------- *
 * $MAIN CONTENT *
 * ------------- */

/**
 * Titles
 * Classes are meant to give styles without semantic value
 * e.g. <h2 class="h4">Title level 2 with styles level 4</h2>
 */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
	margin: 1.3em 0 .6em 0;
	font-weight: normal;
	line-height: 1.3;
	font-family: 'Orienta', sans-serif;
	color: $darkgrey;
}

h1, .h1 {
	@include rem(3.6);
	font-family: 'Sanchez', sans-serif;
	text-shadow: 0 1px white, 0 2px $lightgrey;
	margin: 1em 0 0 0;
	text-transform: uppercase;

	@include breakpoint(small) {
		@include rem(3.2);
	}
}

h2, .h2 {
	@include rem(3.2);

	.page--resume & {
		border-bottom: 1px solid silver;
	}

	a[href^="#"] {
		*display: inline;
		display: inline-block;
		padding-left: .3em;
		color: $lightgrey;
		opacity: 0;
		pointer-events: none;
		@include transition(.15s);

		@include breakpoint(small) {
			opacity: 1;
			pointer-events: auto;
			padding-left: 0.1em;
		}
	}

	&:hover a,
	&:focus a {
		opacity: 1;
		pointer-events: auto;
	}
}

h3, .h3 {
	@include rem(2.6);
	letter-spacing: 1px;
	font-style: italic;
	text-transform: uppercase;
}

h4, .h4 {
	@include rem(2.4);
}

/**
 * Table of contents
 */
.table-of-contents {
	float: right;
	width: 40%;
	background: #F4F4F4;
	font-size: 0.8em;
	padding: 1em 1.5em;
	margin: 0 0 1em 1em;
	border-left: .5em solid white;

	ul { color: $lightgrey; }

	h2 {
		margin: .1em 0 .35em;
		@include rem(2.4);
	}

	@include breakpoint(small) {
		float: none;
		width: 100%;
		margin-left: 0;
	}
}

/**
 * Text content
 */
p, ul, ol {
	margin-bottom: $space;
}

ul, ol {
	padding-left: 1.5em;
}

/**
 * Images & figures
 * 1. Prevent images to break outside their container
 * 2. keep ratio when resized
 */
img {
	max-width: 100%; /* 1 */
	height: auto;    /* 2 */
	margin: 0 auto;
	display: block;
}

/**
 * Quotes
 * 1. In case there is an image + text in the blockquote
 * 2. Avoid odd gap at the bottom of a blockquote
 */
/*blockquote*/.quote {
	background: #F4F4F4;
	border-left: .5em solid $main-color;
	padding: $space;
	font-style: italic;
	margin-bottom: $space;

	@extend %clearfix;    /* 1 */
	
	p:last-of-type {
		margin-bottom: 0; /* 2 */
	}
}

/**
 * Tables
 */
table {
	width: 100%;
	margin: $space 0;
}

tr:nth-child(odd) {
	background: #F4F4F4;
}

td,
th {
	padding: .5em;
}

th {
	font-weight: bold;
	text-align: center;
}