/* ------- *
 * $FOOTER *
 * ------- */

/**
 * Footer element
 * 1. Clear .main and .sidebar floats
 */
.footer {
	@extend %clearfix;
	@include rem(1.4);
	clear: both; /* 1 */
	padding: 2.5em 0;
	border-top: 3px solid #D1D1D1;

	p {
		float: left;

		@include breakpoint(small) {
			float: none;
		}
	}

	a {
		color: $mediumgrey;
	}

	@include breakpoint(small) {
		text-align: center;
	}
}

/**
 * Footer navigation
 */
.footer__nav {
	@extend %clearfix;
	float: right;

	ul {
		list-style: none;
		padding: 0;
	}

	li {
		display: inline;
		margin: 0 .25em;
	}

	@include breakpoint(small) {
		float: none;
		padding: 0;
	}
}