/* ------- *
 * $HEADER *
 * ------- */

/**
 * Header element
 */
.header {
	@extend %clearfix;
	border-bottom: 3px solid #D1D1D1;
	margin: 2.5em 0 2em;

	@include breakpoint(small) {
		margin-top: 1em;
	}
}

/**
 * Avatar
 */
.avatar {
	width: 6em;
	height: 6em;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	left: .5em;

	@include breakpoint(medium) {
		display: none;
	}

	@include breakpoint(small) {
		position: relative;
		margin: 1em auto;
		display: block;
	}
}

/**
 * Site main title
 */
.site-title {
	float: left;
	font-family: 'Orienta', sans-serif;
	margin: 0;
	text-shadow: none;
	text-transform: none;
	font-weight: bold;
	padding: .25em 0 0 3.8em;
	@include rem(4);

	@include breakpoint(small) {
		@include rem(2.8);
		float: none;
		text-align: center;
	}

	@include breakpoint(medium) {
		@include rem(2.8);
		padding: 0;
		float: none;
		text-align: center;
	}
	
	a {
		color: $mediumgrey;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
	
	span {
		text-transform: uppercase;
		color: $lightgrey;
	}
}

/**
 * Site main navigation
 */
.site-nav {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;

	@include breakpoint(small) {
		float: none;
		text-align: center;
	}
	
	li {
		float: left;

		@include breakpoint(small) {
			float: none;
			display: inline-block;
		}
	}
	
	a {
		display: block;
		color: $mediumgrey;
		padding: 1em .5em;
		position: relative;

		&:hover, &:focus {
			text-decoration: none;
		}

		&:after {
			bottom: -3px;
			height: 3px;
			background: $main-color;
			left: 0;
			right: 0;
			position: absolute;
		}
	}
}

/**
 * Active class for the main nav
 * 1. Same as "display: block" or "visibility: visible"
 * Source: https://github.com/csswizardry/csswizardry.github.com/blob/master/css/ui/site-nav.scss
 */
$pages: home, resume;
@each $page in $pages {
    .page--#{$page} .site-nav__#{$page} {
        cursor: text;
        &:after {
        	content: ''; /* 1 */
		}
    }
}

