/* ---------- *
 * $HOME PAGE *
 * ---------- */

/**
 * List of articles on the home page
 * 1. Remove top border if first list item
 * 2. Fake a bottom border if last list item
 */
.list-articles {
	margin: 1em 2em 0 0;
	padding: 0;
	list-style: none;

	@include breakpoint(medium) {
		margin: 0;
	}

	li {
		border-bottom: 1px solid #CFCFCF;
		border-top: 1px solid #F2F2F2;
		padding: 1.3em 0 .5em;
		position: relative;

		@include breakpoint(medium) {
			padding: 0.7em 0 .5em;
		}

		&:first-of-type { border-top: none; }         /* 1 */
		&:last-of-type { box-shadow: 0 1px #F2F2F2; } /* 2 */
	}

	a {
		color: $mediumgrey;
		&:hover, &:focus {
			color: $main-color;
			text-decoration: none;
		}
	}
}

/**
 * Article titles in the list
 */
.list-articles__title {
	margin: 0;
	padding: .25em 3.25em .25em 0;
	@include rem(2.8);
	
	@include breakpoint(small) {
		padding: .25em 0;
	}
}

/**
 * Article dates in the list
 */
.list-articles__date {
	@include rem(1.7);
	text-indent: 3px;
	margin-bottom: 0;
	color: $lightgrey;
	@include inline-block;
}

/**
 * Special articles
 * 1. If article is a link to Codrops or a guest post or an external link
 */
.list-articles__icon {  /* 2 */
	position: absolute;
	opacity: .2;
	right: 0;
	top: 50%;
	margin-top: -1em;
	font-size: 2em;
	width: 2em !important;
	height: 2em;
	border: .1em solid;
	line-height: 2em;
	border-radius: 50%;

	@include breakpoint(small) {
		position: relative;
		opacity: 1;
		font-size: 1em;
		border: none;
		line-height: 1.5;
		display: inline;
		color: $lightgrey;
	}
}

/**
 * Pagination
 */
.pagination {
	padding: 0;
	margin: 2em 0 0 0;
	text-align: center;
    
    li {
		@include inline-block(middle);
		margin: 0 5px;
	}

	a {
		display: block;

		&:hover, &:focus {
			text-decoration: none;
		}
	}
}

/**
 * If first or last page
 */
.pagination__disabled {
	opacity: .6;
	pointer-events: none;
}