---
layout: default
title: Hugo “Kitty” Giraudel
keywords:
- resume
- cv
- linkedin
---

<div class="Resume">
  <div class="Resume__links Resume__links--print">
    hugo.giraudel@gmail.com ·
    <a href="https://www.linkedin.com/in/hugo-giraudel/">/in/HugoGiraudel</a>
  </div>

  <section class="Resume__intro">
    <img src="/assets/images/favicon.png" alt="Photo of Hugo Giraudel" class="Resume__photo" />

    <p>
      I am a non-binary frontend developer with about a decade of experience and
      a strong focus on web accessibility and workplace safety. Over the last
      few years, I have also learnt a lot about web security as well as building
      a healthy and productive team. Some other skills include (but are not
      limited to) automated testing, frontend performance, Node/GraphQL and
      agile practices and methodologies.
    </p>

    <p>
      My pronouns are <strong>they/them</strong>, please kindly respect them. My
      first name is Hugo, but <strong>I tend to go by Kitty</strong>. Both names
      are fine at this stage (although don’t call me “Hugo Kitty”, pick one or
      the other).
    </p>

    <div class="Resume__links">
      hugo.giraudel@gmail.com ·
      <a href="https://www.linkedin.com/in/hugo-giraudel/">/in/HugoGiraudel</a>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Skills</h2>
    <div>
      <h3>Technology</h3>
      <p>
        HTML (knowledgeable), CSS (authored 2 books about it), JavaScript,
        React (main JS framework for the last few years), accessibility
        (steady theoretical knowledge)
      </p>

      <h3>Other skills</h3>
      <p>
        Documentation (tech-writer and passionate), hiring/team building,
        workplace safety (minorly involved in N26 Works Council
        formation), agile practices (informed)
      </p>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Experience</h2>
    <div>
      <h3>Web Tech Lead @ N26 GmbH <span>Berlin, 2018–2020</span></h3>
      <ul>
        <li>Grew the web team from 1 to 20+ engineers, now in 4 different
          offices over the world.</li>
        <li>Built a culture of feedback, inclusion and respect, now powering a
          very diverse and high-performing team.</li>
        <li>Designed and implemented a test automation strategy and deployment
          pipeline to release multiple projects on a daily basis.</li>
      </ul>

      <h3>Senior Frontend Developer @ N26 GmbH <span>Berlin, 2016–2018</span></h3>
      <ul>
        <li>Set up the groundwork for all N26 customer-facing web projects to
          ever come, now supporting the marketing website, the support center,
          the N26 webapp, the signup process and more.</li>
        <li>Installed high quality practices such as security, accessibility and
          testability, shared with all members of the web team and beyond.</li>
        <li>Initiated the web docs hub and wrote most of the existing
          documentation (70,000+ words).</li>
      </ul>

      <h3>Web Developer @ Edenspiekermann <span>Berlin, 2015–2016</span></h3>
      <ul>
        <li>Worked on a variety of frontend client projects.</li>
        <li>Paired with designers on a regular basis to ensure consistency
          between design deliveries and final implementations.</li>
        <li>Encouraged authoring guidelines and practices across the
          organisation, especially around CSS.</li>
        <li>Started the Edenspiekermann dev blog.</li>
      </ul>

      <h3>Web Developer @ Crédit Agricole <span>Grenoble, 2011–2015</span></h3>
      <ul>
        <li>Implemented frontend of a now-retired e-commerce platform.</li>
        <li>Set up Sass guidelines to author CSS which could scale.</li>
        <li>Designed Twig (Symfony) architecture to support theming.</li>
        <li>Developed a simple ad management system in PHP.</li>
      </ul>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Projects</h2>
    <div>
      <h3>Notable open-source projects</h3>
      <ul>
        <li><a href="https://sass-guidelin.es" target="_blank" rel="noopener noreferrer">Sass Guidelines</a>, an
          opinionated
          styleguide for writing sane, maintainable and scalable Sass translated in 14 languages.
        </li>
        <li><a href="https://browserhacks.com" target="_blank" rel="noopener noreferrer">Browserhacks</a>, an extensive
          list
          of browser-specific hacks.</li>
        <li><a href="https://sassdoc.com" target="_blank" rel="noopener noreferrer">SassDoc</a>, a documentation system
          for Sass similar to JSDoc for JavaScript.</li>
        <li><a href="https://jargon.js.org" target="_blank" rel="noopener noreferrer">Simplified JavaScript Jargon</a>,
          a community-driven attempt at explaining JavaScript concepts and buzzwords. </li>

        <li><a href="http://edenspiekermann.github.io/a11y-dialog/" target="_blank"
            rel="noopener noreferrer">a11y-dialog
          </a>,
          a script to make modal dialogs accessible to assistive technology users.
        </li>
        <li class="no-print">Find <a href="/projects">more open-source contributions from me</a>.
        </li>
      </ul>

    </div>
  </section>

  <section class="Resume__section">
    <h2>Achievements</h2>
    <div>
      <h3>Publications</h3>
      <ul>
        <li><a href="https://www.sitepoint.com/premium/books/jump-start-sass" target="_blank"
            rel="noopener noreferrer">Jump Start Sass</a> (© 2016, Learnable Editions)</li>
        <li><a href="https://www.amazon.fr/CSS3-Pratique-du-design-web/dp/2212678967" target="_blank"
            rel="noopener noreferrer">CSS 3 Pratique du
            Design Web</a> (© 2014, Eyrolles Editions)</li>
      </ul>

      <h3>Honor & Awards</h3>
      <ul>
        <li>Former Google Developer Expert in Web Technologies</li>
        <li>Web Developer of the Year 2015 Nominee</li>
      </ul>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Hobbies</h2>
    <div>
      <p>
        Playing pool (well, before the pandemic anyway…), hanging out with
        my cats, writing, cooking, and the occasional side project that
        never gets finished. 😅
      </p>
    </div>
  </section>
</div>
