---
layout: default
title: Resume
keywords:
- resume
- cv
- linkedin
permalink: /resume/
---

{% include "styles.html", partials: "pages/resume" %}

<div class="Resume">
  <section class="Resume__intro">
    <img src="/assets/images/favicon-192.jpg" alt="Photo of Kitty Giraudel" class="Resume__photo" />

    <p>
      I am a non-binary trans frontend engineer with over a decade of experience
      and a strong focus on web digital accessibility, diversity and inclusion.
      I have spent the last 6 years leading teams and growing engineering
      departments in a healthy way. My other skills include (but are not limited
      to) automated testing, frontend performance, web security, documentation,
      inclusive design and agile practices and methodologies.
    </p>
    <p>
      I also happen to be a former technical writer who loves everything
      documentation. I have authored two books on CSS and Sass respectively at
      the start of my career and over 300 technical articles on various popular
      publications, from CSS-Tricks to Smashing Magazine, from Codrops to Tuts+.
      As a result, I have great communication skills and a passion for writing
      all sorts of things.
    </p>
    <p>
      I have done my fair share of open-source work over the years. I am the
      author of Sass Guidelines, a Sass documentation translated in 13 languages
      and used by companies all over the world. I have authored and maintained
      a11y-dialog since 2015, one of the most popular libraries for creating
      accessible modal dialogs. More contributions and projects can be found on
      GitHub.
    </p>

    <p>
      Anecdotally, I am a former Google Developer Expert in frontend development
      as well as a nominee for the Developer of the Year (2015) Net Awards.
    </p>

    <p class="Resume__links">
      Please kindly reach out on <a href="https://www.linkedin.com/in/kitty-giraudel/">LinkedIn</a>
      for any inquiry. My pronouns are <strong>they/them</strong> or
      <strong>she/her</strong>, please kindly respect them.
    </p>
  </section>

  <section class="Resume__section">
    <h2>Skills</h2>
    <div>
      <h3>Technology</h3>
      <p>
        HTML (knowledgeable), CSS (authored 2 books about it), JavaScript,
        React (main JS framework for the last few years), accessibility
        (steady theoretical knowledge)
      </p>

      <h3>Other skills</h3>
      <p>
        Documentation (tech-writer and passionate), hiring/team building,
        workplace safety (minorly involved in N26 Works Council
        formation), agile practices (informed)
      </p>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Experience</h2>
    <div>
      <h3>Group Engineering Lead @ Gorillas <span>Berlin, 2021–2022</span></h3>
      <ul>
        <li>Helped grow the Product, Design & Engineering organization from a few dozens to over 200 people.</li>
        <li>Established processes and guidelines for the department (most notably the 360 feedback process, but also
          absence policies, engineering practices, IT and security guidelines…).</li>
        <li>Championed accessibility, diversity and inclusion, as well as workspace safety in the organization.</li>
        <li>Supported officializing the use of the culture-add interview for all roles and helped design and conduct
          that interview stage.</li>
        <li>Designed the interviewing process for web engineers (through which over a dozen hires too place), and helped
          hiring tech recruiters and group leads.</li>
        <li>Worked with the security team to enable relevant policies and guidelines for the department.</li>
        <li>Took part in Due Diligence exercises to audit the quality of the organization’ SDLC, architecture and
          security practices.</li>
      </ul>

      <h3>Lead Web Engineer @ Gorillas <span>Berlin, 2021–2021</span></h3>
      <ul>
        <li>Hired as one of the first engineers to build up the Product, Design
          & Engineering organization at a time where there wasn’t one.</li>
        <li>Grew the web team to over 10 engineers, whose seniority levels
          spread from junior to engineering lead.</li>
        <li>Defined the early web infrastructure such as the adoption of
          Next.js, Sanity, Cypress, Fela and other frameworks and
          technologies.</li>
        <li>Championed accessibility, testing and security in all web projects.</li>
        <li>Championed diversity and inclusion at the organization level to
          ensure it grows in solid and healthy bases.</li>
      </ul>

      <h3>Web Tech Lead @ N26 GmbH <span>Berlin, 2018–2020</span></h3>
      <ul>
        <li>Grew the web team from 1 to 20+ engineers, now in 4 different
          offices over the world.</li>
        <li>Built a culture of feedback, inclusion and respect, now powering a
          very diverse and high-performing team.</li>
        <li>Designed and implemented a test automation strategy and deployment
          pipeline to release multiple projects on a daily basis.</li>
      </ul>

      <h3>Senior Frontend Developer @ N26 GmbH <span>Berlin, 2016–2018</span></h3>
      <ul>
        <li>Set up the groundwork for all N26 customer-facing web projects to
          ever come, now supporting the marketing website, the support center,
          the N26 webapp, the signup process and more.</li>
        <li>Installed high quality practices such as security, accessibility and
          testability, shared with all members of the web team and beyond.</li>
        <li>Initiated the web docs hub and wrote most of the existing
          documentation (70,000+ words).</li>
      </ul>

      <h3>Web Developer @ Edenspiekermann <span>Berlin, 2015–2016</span></h3>
      <ul>
        <li>Worked on a variety of frontend client projects.</li>
        <li>Paired with designers on a regular basis to ensure consistency
          between design deliveries and final implementations.</li>
        <li>Encouraged authoring guidelines and practices across the
          organisation, especially around CSS.</li>
        <li>Started the Edenspiekermann dev blog.</li>
      </ul>

      <h3>Web Developer @ Crédit Agricole <span>Grenoble, 2011–2015</span></h3>
      <ul>
        <li>Implemented frontend of a now-retired e-commerce platform.</li>
        <li>Set up Sass guidelines to author CSS which could scale.</li>
        <li>Designed Twig (Symfony) architecture to support theming.</li>
        <li>Developed a simple ad management system in PHP.</li>
      </ul>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Projects</h2>
    <div>
      <h3>Notable open-source projects</h3>
      <ul>
        <li><a href="https://sass-guidelin.es" target="_blank" rel="noopener noreferrer">Sass Guidelines</a>, an
          opinionated
          styleguide for writing sane, maintainable and scalable Sass translated in 14 languages.
        </li>
        <li><a href="https://browserhacks.com" target="_blank" rel="noopener noreferrer">Browserhacks</a>, an extensive
          list
          of browser-specific hacks.</li>
        <li><a href="https://sassdoc.com" target="_blank" rel="noopener noreferrer">SassDoc</a>, a documentation system
          for Sass similar to JSDoc for JavaScript.</li>
        <li><a href="https://jargon.js.org" target="_blank" rel="noopener noreferrer">Simplified JavaScript Jargon</a>,
          a community-driven attempt at explaining JavaScript concepts and buzzwords. </li>

        <li><a href="https://edenspiekermann.github.io/a11y-dialog/" target="_blank"
            rel="noopener noreferrer">a11y-dialog
          </a>,
          a script to make modal dialogs accessible to assistive technology users.
        </li>
        <li class="no-print">Find <a href="/projects">more open-source contributions from me</a>.
        </li>
      </ul>

    </div>
  </section>

  <section class="Resume__section">
    <h2>Achievements</h2>
    <div>
      <h3>Publications</h3>
      <ul>
        <li><a href="https://www.sitepoint.com/premium/books/jump-start-sass" target="_blank"
            rel="noopener noreferrer">Jump Start Sass</a> (© 2016, Learnable Editions)</li>
        <li><a href="https://www.amazon.fr/CSS3-Pratique-du-design-web/dp/2212678967" target="_blank"
            rel="noopener noreferrer">CSS 3 Pratique du
            Design Web</a> (© 2014, Eyrolles Editions)</li>
      </ul>

      <h3>Honor & Awards</h3>
      <ul>
        <li>Former Google Developer Expert in Web Technologies</li>
        <li>Web Developer of the Year 2015 Nominee</li>
      </ul>
    </div>
  </section>

  <section class="Resume__section">
    <h2>Hobbies</h2>
    <div>
      <p>
        Playing pool (well, before the pandemic anyway…), hanging out with
        my cats, writing, cooking, and the occasional side project that
        never gets finished. 😅
      </p>
    </div>
  </section>
</div>
