---
layout: default
title: "Blog"
excerpt: "All articles from me, published on this site as well as at other places such as SitePoint, Tuts+, Codrops and CSS-Tricks. Also contains some guest posts."
tags:
  - blog
  - writing
  - articles
---

<h1>Latest articles</h1>

<p><img src="/images/banners/writing.jpg" alt="Photography by Alexandra Lucas" /></p>

{% include ad.html %}

<p>I write <em>a lot</em> of articles for different sites. External articles are annotated with an external link icon. Articles with the user icon are guest posts. If you are looking for something specific, hit <a href="/search">the search</a>.</p>

<ul class="articles  list">
{% for post in paginator.posts %}
  {% unless post.preview %}
      {% include article-list.html post=post %}
  {% endunless %}
{% endfor %}
</ul>

<ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}"><span class="pagination__icon">◀</span> Previous</a></li>
  {% endif %}
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}">Next <span class="pagination__icon">►</span></a></li>
  {% endif %}
</ul>
