.Footer {
  padding: 2em 0;
  text-align: center;
  font-size: 0.75em;

  @include media('>=tablet') {
    padding: 5em 0 2em;
  }
}

.Footer__copy {
  display: inline-block;
  margin: 0;
}

.Footer__copy::after {
  content: '–';
  margin-left: 1ch;
  margin-right: 1ch;
}

.Footer__list {
  display: inline-block;
  padding-left: 0;
  margin: 0;
}
