.footer {
  padding: 2em 0;
  color: $medium-grey;
  text-align: center;

  @include media('>=medium') {
    padding: 5em 0 2em;
    text-align: left;
    text-align: initial;
  }
}

.footer p {
  font-size: 0.75em;
  margin: 0;
}
