.header {
  color: $medium-grey;
  padding: 2em 0;

  @include media('>=medium') {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: $sidebar-width;
    text-align: right;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.header__title {
  margin: 0;
  display: block;
  color: inherit;
}

.nav {
  @include media('>=medium') {
    margin-top: 1.5em;
  }
}

.nav__list {
  list-style: none;
  margin: 0;
}

.nav__item {
  text-transform: lowercase;
  line-height: 1.5;
  transition: background-color 0.15s,
              color 0.15s,
              transform 0.3s 0.1s;

  @include media('>=medium') {
    border-right: 0.5em solid rgba(255, 255, 255, 0.25);
    transform: translateX(0.5em);
  }
}

.nav__item:hover,
.nav__item:active {
  background-color: $dark-grey;
  color: rgb(255, 255, 255);
  transform: translateX(0);
}

.nav__link {
  color: inherit;
  border-bottom: 0;
  padding: 0.25em 1em;
  display: block;
  transition: transform 0.3s 0.1s;

  &::after {
    content: '.';
    display: inline-block;
    transition: 0.25s;
  }

  @include media('>=medium') {
    padding: 0.25em 2em;
  }
}

.nav__link:active,
.nav__link:hover {
  border-color: transparent;
}

.nav__item:active .nav__link,
.nav__item:hover .nav__link {
  transform: translateX(0.5em);

  &::after {
    color: rgb(255, 255, 255);
    transform: translateY(1em);
    opacity: 0;
  }
}
