.header {
}

.nav {
  margin-bottom: 1em;
  text-align: center;
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__item {
  line-height: 1.5;
  transition: 0.15s;
}

.is-active > .nav__link {
  font-weight: bold;
}

.nav__link:hover,
.nav__link:active {
  color: $soft-pink;
}

.nav__link:visited {
  color: $soft-blue;
}
