{% assign post = item %}

{% capture meta %}<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% if post.data.guest %}, by {{ post.data.guest }}{% endif %}{% endcapture %}
{% capture link_url %}{% if post.data.external %}{{ post.data.external.url }}{% else %}{{ post.url }}{% endif %}{% endcapture %}
{% capture link_label %}Read article <span class="visually-hidden">{{ post.data.title }}</span>{% endcapture %}

{% include "components/tile.html",
  primary_lang: post.data.lang,
  primary: post.data.title,
  secondary: meta,
  link_url: link_url,
  link_label: link_label
%}
