{% assign footnotes = "" | split: "" | footnotes: page %}
{% assign count = footnotes | size %}

{% if count > 0 %}
<hr />

<footer role="doc-endnotes">
  <h2 id="footnotes-label">Footnotes</h2>
  <ol>
    {% for footnote in footnotes %}
    <li id="{{ footnote.id }}-note">
      {{ footnote.description | markdown | replace: "<p>", "" | replace: "</p>", "" }}
      <a
        href="#{{ footnote.id }}-ref"
        aria-label="Back to reference {{ forloop.index }}"
        role="doc-backlink"
        >↩</a
      >
    </li>
    {% endfor %}
  </ol>
</footer>
{% endif %}
