{% assign paginator = include.paginator %}

{% if paginator %}
<div class="Pagination PostNavigation">
  {% if paginator.previous_page %}
  <p class="PostNavigation__item">
    <a class="PostNavigation__link" href="{{ paginator.previous_page_path }}">
      ← Previous posts
    </a>
  </p>
  {% endif %}
  {% if paginator.next_page %}
  <p class="PostNavigation__item">
    <a class="PostNavigation__link" href="{{ paginator.next_page_path }}">
      Next posts →
    </a>
  </p>
  {% endif %}
</div>
{% endif %}
