{% assign post = include.post %}

{% if post %}
<li class="List__item">
  <div class="List__item-inner">
    <span class="List__secondary-content">
      <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>
      {% if post.guest %} by {{ post.guest }}{% endif %}
      {% if post.external %} at {{ post.external.host }}{% endif %}
    </span>

    {% if post.external %}
    <a class="List__primary-content" {% if post.lang %}hreflang="{{ post.lang | downcase }}" lang="{{ post.lang | downcase }}"{% endif %} href="{{ post.external.url }}" target="_blank" rel="noopener noreferrer">
    {% else %}
    <a class="List__primary-content" {% if post.lang %}hreflang="{{ post.lang | downcase }}" lang="{{ post.lang | downcase }}"{% endif %} href="{{ post.url }}">
    {% endif %}
      {{ post.title }}
    </a>
  </div>
</li>
{% endif %}
