{% assign name = name | default: 'post' %}
{% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
{% assign nextPost = collections.posts | getNextCollectionItem: page %}

<div class="PostNavigation {% if previousPost %}{% elsif nextPost %}PostNavigation--end{% endif %} ">
  {% if previousPost.url %}
  <p class="PostNavigation__item PostNavigation__item--previous
    ">
    Read previous {{ name }}:
    <a class="PostNavigation__link " href="{{ previousPost.url }}" {% if previousPost.data.lang %}hreflang="{{ previousPost.data.lang | downcase }}" lang="{{ previousPost.data.lang | downcase }}"{% endif %}>
      {{ previousPost.data.title }}
    </a>
  </p>
  {% endif %}
  {% if nextPost.url %}
  <p class="PostNavigation__item PostNavigation__item--next">
    Read next {{ name }}:
    <a class="PostNavigation__link" href="{{ nextPost.url }}" {% if nextPost.data.lang %}hreflang="{{ nextPost.data.lang | downcase }}" lang="{{ nextPost.data.lang | downcase }}"{% endif %}>
      {{ nextPost.data.title }}
    </a>
  </p>
  {% endif %}
</div>
