{% assign post = include.post %}

{% if post %}
<li class="List__item">
  <div class="List__item-inner">
    <span class="List__secondary-content">
      {{ post.date | date: "%B %d, %Y" }}
      {% if post.guest %} by {{ post.guest }}{% endif %}
      {% if post.external %} at {{ post.external.host }}{% endif %}
    </span>

    {% if post.external %}
    <a class="List__primary-content" {% if post.lang %}hreflang="{{ post.lang | downcase }}" lang="{{ post.lang | downcase }}"{% endif %} href="{{ post.external.url }}">
    {% else %}
    <a class="List__primary-content" {% if post.lang %}hreflang="{{ post.lang | downcase }}" lang="{{ post.lang | downcase }}"{% endif %} href="{{ post.url }}">
    {% endif %}
      {{ post.title }}
    </a>
  </div>
</li>
{% endif %}
