<noscript>
  Unfortunately this site has no server-side search available, so please enable
  JavaScript in your browser to be able to use the provided search engine.
</noscript>

<form class="Search" id="search-container" onsubmit="return false">
  <div role="search">
    <label for="search-input" class="Search__label visually-hidden">Search</label>
    <input type="text" id="search-input" class="Search__input" placeholder="Search blog posts…" autofocus required aria-controls="results-container">
  </div>
</form>
<ul id="results-container" class="Search__results List" role="region" aria-live="polite"></ul>
