---
layout: default
---

{% render "header.liquid",
  title: title,
  lang: lang
%}

<main class="Main" role="main" id="main">
  <div class="Container">
    {{ content }}
  
    {% comment %}
    It’s not ideal having to render the theme button here instead of inside the 
    default layout, but it should live within a landmark, so that’s kinda the
    only option. The alternative is to place it inside the navigation, but it’s
    not semantically correct because it’s not a navigational element.
    {% endcomment %}
    {% render "theme_button.liquid" %}
  </div>
</main>