---
layout: default
---

{% assign vt_style = page.url | slugify | prepend: 'view-transition-name: page-' %}

{% if toc == true %}
  {% assign toc_items = content | table_of_contents %}
{% endif %}

{% render "header.liquid",
  title: title,
  title_style: vt_style,
  created_at: created_at,
  updated_at: updated_at,
  reading_time: reading_time,
  author: author,
  toc_items: toc_items
%}

<main class="Main" role="main" id="main">
  <div class="Container" {% unless heading_anchors == false %}data-heading-anchors{% endunless %}>
    {{ content }}
  
    {% comment %}
    It’s not ideal having to render the theme button here instead of inside the 
    default layout, but it should live within a landmark, so that’s kinda the
    only option. The alternative is to place it inside the navigation, but it’s
    not semantically correct because it’s not a navigational element.
    {% endcomment %}
    {% render "theme_button.liquid" %}
  </div>
</main>