---
layout: default
---

{% render "styles.liquid",
  inline: site.configuration.inline_assets,
  partials: "
    pages/post,
    components/blockquote,
    components/collection-navigation,
    components/figure,
    components/footnotes,
    components/heading-anchors,
    components/hook,
    components/giscus,
    components/post-edits,
    components/code,
    components/table,
    components/table-of-contents,
    components/tile
  "
%}

<link rel="alternate" type="text/markdown" href="{{ page.url }}index.md" data-helmet>

{% assign reading_time = content | strip_html | reading_time %}
{% if toc != false %}
  {% assign toc_items = content | table_of_contents %}
{% endif %}

{% render "post_header.liquid",
  title: title,
  created_at: creation_date,
  updated_at: update_date,
  guest: guest,
  reading_time: reading_time,
  toc_items: toc_items,
  toc_flat: toc_flat
%}

<main class="Main" role="main" id="main">
  <div class="Container">
    <article itemscope itemtype="https://schema.org/Article" itemref="post-title post-date-published post-date-modified post-author post-reading-time" class="Post">
      {% if deprecated %}
        {% render "post_deprecated.liquid", date: creation_date %}
      {% endif %}

      {% if edits %}
        {% render "post_edits.liquid", edits: edits %}
      {% endif %}
      
      <div itemprop="articleBody">
        {{ content }}
      </div>

      {% render "job_notice.liquid",
        class: "Hook",
        label: "Pssst!",
        job_notice: site.job_notice
      %}

      {% footnotes page %}
    </article>

    {% render "giscus.liquid" %}

    {% render "collection_navigation.liquid",
      page: page,
      collection: collections.posts,
      label: "post"
    %}
  </div>

  {% comment %}
  It’s not ideal having to render the theme button here instead of inside the 
  default layout, but it should live within a landmark, so that’s kinda the only
  option. The alternative is to place it inside the navigation, but it’s not 
  semantically correct because it’s not a navigational element.
  {% endcomment %}
  {% render "theme_button.liquid" %}
</main>

{% render "script.liquid",
  inline: site.configuration.inline_assets,
  partials: "utilities, post"
%}

{% if site.environment != "production" %}
  {% render "script.liquid",
    inline: site.configuration.inline_assets,
    partials: "post-shortcuts"
  %}
{% endif %}
