---
layout: default
---

{% render "styles.liquid",
  inline: site.configuration.inline_assets,
  partials: "
    pages/post,
    components/code,
    components/collection-navigation
  "
%}

{% if related %}
  {% assign related_post = '' %}
  {% for post in collections.posts %}
    {% if post.url == related %}
      {% assign related_post = post %}
    {% endif %}
  {% endfor %}
{% endif %}

{% render "snippet_header.liquid",
  title: title,
  related_post: related_post,
  date: date,
%}

<main class="Main" role="main" id="main">
  <div class="Container">
    {{ content }}

    {% render "collection_navigation.liquid",
      page: page,
      collection: collections.snippets,
      label: "snippet",
      dev_mode: site.configuration.dev_mode
    %}
  </div>
</main>
