---
layout: default
title: About me
excerpt: "Everything about me related to the tech-industry."
permalink: /about/
---

<style>#About h2 { font-size: 100%; margin: 0 0 1em; }</style>
<div id="About">
{% markdown %}
Hey there, I’m Kitty. I am a non-binary frontend developer
based in Berlin, currently working as the lead frontend engineer at
[Gorillas](https://gorillas.io).

## Professional experience

I originally come from the French Alps where I worked for a few years before
having the opportunity to move to Berlin in 2015 to join [Edenspiekermann](https://edenspiekermann.com).
At the end of the 2016, I joined [N26](https://n26.com/) as a web tech lead
to hire a team and rebuild the N26 web platform from scratch. During my time
there, I focused on accessibility and workplace safety.

For a more detailed
version of my professional background, feel free to [read my resume](/resume).

## Open-source contributions

I have done my fair share of open-source work and have initiated some projects
of my own you might know: [Browserhacks](http://browserhacks.com),
[SassDoc](http://sassdoc.com), [Sass Guidelines](https://sass-guidelin.es),
[Simplified JavaScript Jargon](https://jargon.js.org),
[a11y-dialog](https://a11y-dialog.netlify.app/) and
[a11y-toggle](https://edenspiekermann.github.io/a11y-toggle).

You can browse
[more of my projects](/projects).

## Awards & achievements

Early 2014, I authored a French book on CSS titled [CSS 3 Pratique du Design
Web](https://www.eyrolles.com/Informatique/Livre/css3-9782212678963/) (CSS 3 for
Web Design). Two years later, I co-authored a book about Sass titled [Jump
Start Sass](https://learnable.com/books/jump-start-sass) with [Miriam
Suzanne](https://www.miriamsuzanne.com/).

I used to be a Google Developer Expert in frontend development, and one of the
5 nominees for the [Net Awards 2015](https://thenetawards.com) under the
[Developer of the Year](https://thenetawards.com/vote/developer/) category.

## Miscellaneous

For a more personal glance at my last ten years, be sure to read [A decade in
review](/2020/01/01/a-decade-in-review/), and if you have any question, feel
free to ask me anything on me [Ask Me Anything](https://github.com/KittyGiraudel/ama)
repository.
{% endmarkdown %}

{% info %}
If you mentioned my dead name somewhere on the internet over the years, please
kindly update the references to use Kitty instead as well as the correct
pronouns (they/them or she/her).
{% endinfo %}
</div>
