---
layout: default
title: "Guest posts"
excerpt: ""
tags:
  - blog
  - writing
  - articles
  - guest
---

<h1>{{ page.title }}</h1>

<p><img src="/assets/images/banners/writing.jpg" alt="Photography by Alexandra Lucas" /></p>

{% include ad.html %}

<p>I had the amazing opportunity to have great writers sharing their experience on this very blog. You can find all guest posts on this page. And remember, if you have built something cool and would like to write about it, be sure to get in touch!</p>

<ul class="articles  list">
{% for post in site.posts %}
  {% if post.guest %}
    {% include post-list.html post=post %}
  {% endif %}
{% endfor %}
</ul>
