.Footer {
  position: relative;
  padding: var(--vb) 0;
}

.Footer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.08;
  z-index: -1;
  background-image: linear-gradient(to right, #267cb9, #dd7eb4);
}

.Footer__inner {
  display: flex;
  font-size: 80%;
  margin: 0 -1em;
}

.Footer__left {
  width: 60%;
  padding: 0 1em;
}

.Footer__colophon {
  opacity: 0.9;
  font-size: 80%;
}

.Footer__right {
  width: 40%;
  padding: 0 1em;
}

.Footer__list {
  text-align: right;
  list-style: none;
}

.Footer__list > li {
  margin: 0;
}

@media (max-width: 768px) {
  .Footer {
    padding: calc(var(--vb) / 2) 0;
  }

  .Footer__inner {
    flex-direction: column;
  }

  .Footer__left,
  .Footer__right {
    width: 100%;
  }

  .Footer__list {
    text-align: center;
    padding: 0;
    margin: 0 0 1em;
  }

  .Footer__list > li {
    display: inline-block;
    margin: 0.25em 0;
    list-style: none;
  }

  .Footer__list > li:not(:last-of-type)::after {
    margin: 0 0.5ch;
    content: '·';
    color: #dd7eb4;
    font-family: monospace;
  }
}
