@media (min-width: 768px) {
  .Main {
    padding: 1em 0;
  }
}

.Main a {
  outline: 0;
  color: inherit;
  border-bottom: 0;
  text-decoration: none;
  background-image: linear-gradient(to right, #f2cfe3, #c4e0f3);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  transition: 250ms ease-in;
}

.Main a:hover,
.Main a:active,
.Main a:focus {
  background-size: 100% 88%;
}

.Main a[data-visited]:not([href^='#'])::after {
  content: ' ✓';
  opacity: 0.5;
  font-size: 80%;
}
