.Navigation__list {
  list-style: none;
  margin: 0;
  padding: 0 1em;
  text-align: center;
}

@media (min-width: 768px) {
  .Navigation__list {
    padding: 0;
  }
}

.Navigation__item {
  line-height: 1.5;
  color: #267cb9;
}

.Navigation__item[aria-current] {
  font-weight: bold;
}

.Navigation__link {
  color: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 0;
  transition: 200ms color;
}

.Navigation__link:focus {
  outline: 0;
}

.Navigation__link:visited {
  color: #267cb9;
}

.Navigation__link::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  height: 1px;
  background-color: #267cb9;
  opacity: 0;
  transform: translateY(8px);
  transition: transform 0s ease-out, opacity 0s;
}

.Navigation__link:hover::before,
.Navigation__link:focus::before {
  opacity: 1;
  transform: translateY(0);
  transition: transform 200ms ease-out, opacity 200ms;
}

@media print {
  .Navigation {
    display: none;
  }
}
