.Navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 80%;
}

@media (min-width: 768px) {
  .Navigation__list {
    padding: 0;
  }
}

.Navigation__item {
  display: inline-block;
  line-height: 1.5;
  color: light-dark(var(--blue), lightblue);
}

.Navigation__item:not(:last-of-type)::after {
  margin: 0 0.5ch;
  content: "·";
  color: var(--pink);
}

.Navigation__item[aria-current] {
  font-weight: bold;
}

.Navigation__link {
  color: inherit;
  position: relative;
  text-decoration: none;
  border-bottom: 0;
  transition: 200ms color;
}

.Navigation__link:visited {
  color: light-dark(var(--blue), lightblue);
}

.Navigation__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  height: 1px;
  background-color: var(--blue);
  opacity: 0;
  transform: translateY(8px);
  transition:
    transform 0s ease-out,
    opacity 0s;
}

.Navigation__link:hover::before,
.Navigation__link:focus::before {
  opacity: 1;
  transform: translateY(0);
  transition:
    transform 200ms ease-out,
    opacity 200ms;
}
