{% comment %}
	Required:
		- items: Normalized items ready for the card partial
{% endcomment %}

{% styles "components/card-grid" %}

<ul class="CardGrid NoListMarker" id="card-grid">
	{% for item in items %}
		<li class="CardGrid__item">
			{% assign image_style = '' %}
			{% if item.vt_source %}
				{% assign image_style = item.vt_source | slugify | prepend: 'view-transition-name: ' %}
			{% endif %}

			{% render "card.liquid",
				image: item.image,
				image_alt: item.image_alt,
				primary: item.primary,
				secondary: item.secondary,
				url: item.url,
				tags: item.tags,
				actions: item.actions,
				image_style: image_style
			%}
		</li>
	{% endfor %}
</ul>


<script type="module">
	import { Masonry } from "/assets/js/vendors/masonry.js";

	const el = document.getElementById("card-grid");
	const masonry = new Masonry(el);
</script>
