{% comment %}
  Required:
  - navigation: The nav item list (e.g. site.nav)
  - current_url: The page path (used for active nav)
{% endcomment %}

{% ensure navigation, "Required value 'navigation' is missing in navigation.liquid" %}
{% ensure current_url, "Required value 'current_url' is missing in navigation.liquid" %}

<nav class="Navigation NoPrint" role="navigation">
  <ul class="Navigation__list">
    {% for item in navigation %}
      {% assign active = current_url contains item.path %}
      {% if item.path contains "/blog" %}
        {% assign start = current_url | slice: 0, 4 %}
        {% assign is_post = start == "/201" or start == "/202" %}
        {% if current_url contains "tags" or is_post %}
          {% assign active = true %}
        {% endif %}
      {% endif %}
      <li class="Navigation__item" {% if active %} aria-current="page" {% endif %}>
        <a class="Navigation__link NoBackground" href="{{ item.path }}">{{ item.label }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>