{% comment %}
  Required: —
  Optional:
  - prev_page_link: The URL of the previous page
  - next_page_link: The URL of the next page
  - label: The label for the pagination
{% endcomment %}

{% assign label = label | default: 'entry' %}

{% if prev_page_link or next_page_link %}
  <div class="Pagination CollectionNavigation {% if prev_page_link %}{% elsif next_page_link %}CollectionNavigation--end{% endif %}">
    {% if prev_page_link %}
      <p class="CollectionNavigation__item">
        <a class="CollectionNavigation__link" href="{{ prev_page_link }}">← Previous {{ label }}</a>
      </p>
    {% endif %}
    {% if next_page_link %}
      <p class="CollectionNavigation__item">
        <a class="CollectionNavigation__link" href="{{ next_page_link }}">Next {{ label }} →</a>
      </p>
    {% endif %}
  </div>
{% endif %}