{% comment %}
  Required:
  - item: The project object
  Optional:
  - github: Stargazer data from data/github
{% endcomment %}

{% ensure item, "Required value 'item' is missing in project_tile.liquid" %}

{% assign project = item.data %}
{% assign project_stars = github.stargazers[project.repository] | default: 0 %}
{% assign project_link = item.url | default: project.website | default: project.repository %}

{% capture project_category %}{{ project.tags[0] }} · {{ project_stars }} ★{% endcapture %}
{% capture project_label %}Look at project <span class="visually-hidden">{{ project.title }}</span>{% endcapture %}

{% render "tile.liquid",
  primary: project.title,
  secondary: project_category,
  link_url: project_link,
  link_label: project_label
%}
