{% comment %}
  Required:
  - title: The title of the snippet
  Optional:
  - date: The date of the snippet
  - related_post: The related post
  - title_style: The style attribute for the title element
{% endcomment %}

<header class="Header" role="banner">
  <div class="Container">
    {% render "title.liquid",
      title: title,
      id: "snippet-title",
      style: title_style
    %}

    {% if related_post %}
      <p class="Metadata">
        From <a href="{{ related_post.url }}">{{ related_post.data.title }}</a>
        <span class="Metadata__updated">{{ related_post.date | time }}</span>
      </p>
    {% elsif date %}
      <p class="Metadata">{{ date | time }}</p>
    {% endif %}
  </div>
</header>