{% comment %}
  Required:
  - items: The items to render
  - toc_flat: Whether to only render top-level items
{% endcomment %}

{% ensure items, "Required value 'items' is missing in table_of_contents.liquid" %}

<details class="TableOfContents" id="table-of-contents">
  <summary class="TableOfContents__title">
    <span class="Fleuron" aria-hidden="true">❦</span> Table of contents
  </summary>
  {% render "table_of_contents_list.liquid", items: items, root: true, toc_flat: toc_flat %}
</details>

