{% comment %}
  Required:
  - title: The title of the page
  Optional:
  - lang: The language of the page
  - style: The style attribute for the h1 element
{% endcomment %}

{% ensure title, "Required value 'title' is missing in title.liquid" %}

{% styles "components/title" %}

<h1
  class="Title"
  itemprop="title"
  id="page-title"
  {% if lang and lang != 'en' %}lang="{{ lang }}" {% endif %}
  {% if style %}style="{{ style }}"{% endif %}
>
  {{ title }}
</h1>
