/**
 * Site advertisement
 */
body:not(.home) .site-ad {
  margin-top: -10px;

  /**
   * Floated on medium screens
   */ 
  @media (min-width: 700px) {
    float: right;
    margin-right: -20px;
    margin-left: 20px;
  }
}

/**
 * Change default styles of CarbonAds
 * 1. Override inline styles
 */
.carbonad {
  background: white !important; /* 1 */
  height: auto !important; /* 1 */
  border-radius: 3px !important; /* 1 */
  border: 0 !important; /* 1 */
  margin: 0 auto;
}

.carbonad a::before {
  content: none !important;
}

/**
 * Prevent hidden image from CarbonAds to mess the layout
 */
#azcarbon > img {
  display: inline !important;
}
