/**
 * List component (e.g. home, speaking)
 * 1. Undo default styling
 */
.list {
  padding: 0; /* 1 */
  margin: 0; /* 1 */
  list-style: none; /* 1 */
}

/**
 * List item
 */
.list__item {
  margin: 10px 0;
  padding: 20px 0;
  border-bottom: 1px solid $light-grey;
}

/**
 * Remove bottom border on last item
 */
.list__item:last-of-type {
  border-bottom: 0;
}

/**
 * List item primary content, emphasized
 * 1. Reset any weight (if any)
 */
.list__primary-content {
  margin: 0 0 5px;
  font-size: 24px;
  font-weight: normal; /* 1 */
}

/**
 * List item secondary content
 */
.list__secondary-content {
  color: $medium-grey;
  display: block;
  font-family: $code-font-stack;
  margin: 0 0 5px;
  font-size: 80%;
}

/**
 * List item links
 * 1. Colored as text
 */
.list__item a {
  color: inherit; /* 1 */
  text-decoration: none;

  &::before {
    transition: transform 0.1s;
  }

  &:hover {
    color: $secondary-color;
  }
}
