/**
 * Pagination
 * 1. Poor man's vertical rhythm
 */
.pagination {
  padding: 0;
  margin: 20px 0 0 0; /* 1 */
  text-align: center;
    
  li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px;
  }

  a {
    text-decoration: none;
    display: block;
  }
}
