/**
 * Table of contents
 * 1. Make it slightly smaller than content
 * 2. Cancel top padding
 * 3. Shift it off in the right margin
 */
.toc {
  font-size: 90%; /* 1 */
  margin-bottom: 40px;

  @include respond-to('medium') {
    float: right;
    margin-left: 20px;
    text-align: right;
  }
}

/**
 * Table of contents heading
 * 1. Same size as copy text
 */
.toc__title {
  font-size: 1em; /* 1 */
  margin: 0 0 10px;
}

/**
 * Table of contents list
 */
.toc__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: toc;
}

/**
 * Table of contents item
 */
.toc__item {
  margin-bottom: 5px;
  counter-increment: toc;
}

.toc__item::after {
  content: ' .' counter(toc);
}

/**
 * Table of contents link
 */
.toc__item a {
  text-decoration: none;
}
