<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
  {% include "skip_link.html" %}
  {% include "header.html" %}

  <main class="Main" role="main" id="main">
    <div class="container">
      {{ content }}
    </div>
  </main>

  {% include "footer.html" %}
  {% include "scripts.html" %}
</body>

</html>
