{% assign page_url = page.url | prepend: site.url %}
{% assign page_description = description | default: site.description | strip_html | strip_newlines | truncate: 200 | escape %}
{% assign title = title | default: site.author %}
{% assign page_author = guest | default: site.author %}
{% assign site_author = site.author %}
{% assign generator = generator | default: eleventy.generator %}
{% assign site_url = site.url %}
{% assign tags = tags | default: keywords %}

<!DOCTYPE html>
<html lang="en">

{% render "head.liquid"
  generator: generator,
  inline_assets: site.configuration.inline_assets,
  tags: tags,
  layout: layout,
  page_author: page_author,
  page_description: page_description,
  page_url: page_url,
  site_author: site_author,
  site_url: site_url,
  title: title,
%}

<body>
  {% assign with_title_break = tags contains 'snippets' %}
  {% render "skip_link.liquid" %}
  {% render "header.liquid"
    title: title,
    lang: lang,
    with_title_break: with_title_break,
    current_url: page.url,
    navigation: site.nav
  %}

  <main class="Main" role="main" id="main">
    <div class="Container">
      {{ content }}
    </div>

    {% render "theme_button.liquid" %}
  </main>
  
  {% render "footer.liquid", input_path: page.inputPath %}
  
  {% render "script.liquid",
    inline: site.configuration.inline_assets,
    partials: "main"
  %}

  {% if site.configuration.service_worker == true %}
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/service-worker.js', { scope: '/' })
        .then(function (registration) {
          console.log(
            '%cserviceworker:registration', 'color:green',
            'successful with scope: ' + registration.scope
          )
        })
        .catch(function (error) {
          console.error(
            '%cserviceworker:registration', 'color:red',
            'failed: ', error
          )
        })
    }
  </script>
  {% endif %}
</body>

</html>
