---
published: true
"page-class": "page--post"
---

{% include head.html %}
{% include header.html %}
{% if page.numberedFigures %}
<article class="main numbered-figures" role="main">
{% else %}
<article class="main" role="main">
{% endif %}
{% if page.title %} 
<h1>{{ page.title }}</h1> 
{% endif %}
<p class="date">{{ page.date | date: "%B %d, %Y" }}</p> 
{{ content }}
{% if page.comments %}
<div id="disqus_thread"></div> 
{% endif %}
</article>
{% include sidebar.html %}
{% include footer.html %}
{% include foot.html %}
