---
layout: default
---

{% include "styles.liquid", partials: "
  pages/post,
  components/blockquote,
  components/collection-navigation,
  components/figure,
  components/footnotes,
  components/hook,
  components/giscus,
  components/post-date,
  components/code,
  components/table,
  components/table-of-contents,
  components/tile
" %}

<article itemscope itemtype="https://schema.org/Article" class="Post">
  {% if page.date %}
    <p class="PostDate">
      <span itemprop="datePublished">{{ page.date | time }}</span>
      {%- if guest %}, by <span itemprop="author">{{ guest }}</span>{% endif %}
      <span class="Fleuron" aria-hidden="true">❦</span> <span itemprop="timeRequired" title="Estimated read time">{{ content | strip_html | reading_time }}</span>
    </p>
  {% endif %}

  <div itemprop="articleBody">
    <heading-anchors selector="h2:not(#table-of-contents),h3,h4" content="§">
      {% include "post_edits.liquid", edits: edits %}
    
      {% if toc != false %}
        {% assign toc_items = content | table_of_contents %}
        {% include "table_of_contents.liquid", items: toc_items %}
      {% endif %}

      {{ content }}
    </heading-anchors>

    {% include "job_notice.liquid", class: "Hook", label: "Pssst!" %}
  </div>

  {% footnotes page %}
</article>

<script src="https://giscus.app/client.js"
        data-repo="kittygiraudel/site"
        data-repo-id="MDEwOlJlcG9zaXRvcnk4MjUzNjQ0"
        data-category="Announcements"
        data-category-id="DIC_kwDOAH3wzM4ChZC4"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="preferred_color_scheme"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

{% include "collection_navigation.liquid",
page: page,
collection: collections.posts,
label: "post"
%}

{% include "script.liquid", partials: "utilities, post" %}

{%  if site.environment != "production" %}
  {% include "script.liquid", partials: "post-shortcuts" %}
{% endif %}