---
layout: default
---

{% render "styles.liquid",
  inline: site.configuration.inline_styles,
  partials: "
    components/code,
    components/collection-navigation,
    components/post-date
  "
%}

<article class="Post">
  {% if related %}
    {% assign related_post = '' %}
    {% for post in collections.posts %}
      {% if post.url == related %}
        {% assign related_post = post %}
      {% endif %}
    {% endfor %}

    {% if related_post %}
      <p class="PostDate">
        {% if date and show_date != false %}
          {{ date | time }} <span class="Fleuron" aria-hidden="true">❦</span> 
        {% endif %}
        From <a href="{{ related }}">{{ related_post.data.title }}</a>
      </p>
    {% endif %}
  {% endif %}

  {{ content }}
</article>

{% render "collection_navigation.liquid",
  page: page,
  collection: collections.snippets,
  label: "snippet"
%}
