---
layout: default
title: Code Snippets
description: 'Ready-to-use code snippets for common problems that can be copied and pasted.'
keywords:
  - code
  - open-source
  - github
permalink: /snippets/
---

{% render "styles.liquid",
  inline: site.configuration.inline_assets,
  partials: "
    components/list,
    components/tags
  "
%}

{% markdown %}
These are small code snippets usually extracted from more in-depth articles so
they can be easily retrieved and referenced. It should be possible to copy and
paste them with minor effort.
{% endmarkdown %}

{% assign snippets = collections.snippets | sort_by: 'date' | reverse %}

<ul class="List">
  {% for snippet in snippets %}
  <li class="List__item">
    {% if snippet.date %}
      <span class="List__secondary-content">
        {{ snippet.date | time }}
      </span>
    {% endif %}

    <a class="List__primary-content" href="{{ snippet.url }}">
      {{ snippet.data.title }}
    </a>

    {% if snippet.data.tags %}
      {% render "tags.liquid", tags: snippet.data.tags %}
    {% endif %}
  </li>
  {% endfor %}
</ul>
