.article-title-wrapper {
  padding-top: (100% / 1.618);
  position: relative;
  margin: -2em -2em 0 -2em;
}

.article-title-wrapper > * {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: flex-end;
  padding: 2em;
  background-color: $yellow;
  color: rgb(255, 255, 255);
}

.article-title {
  margin: 0;
  font-size: 3.5em;
  line-height: 1.1;
}
