/**
 * List item on the home page
 */
.article {
  position: relative;
}

/**
 * Article icons on the home page
 */
.article__icon {
  display: inline;
  -webkit-filter: invert(1);
  -moz-filter: invert(1);
  filter: invert(1);
  
  @include respond-to('medium') {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 0.35;
    margin: 0;
  }
}

.article__link {
  position: relative;
  
  /**
   * Checkmark for visited links
   * 1. Same color as background, `transparent` does not work
   * 2. Absolutely positioned on the right to prevent underline on hover
   * 3. Slight offset to give some space between mark and text
   * 4. Actual checkmark content
   * 5. Slightly reduced size, without messing with alignment
   */
  &::after {
    color: white; /* 1 */
    margin-left: 10px; /* 3 */
    content: '\2714'; /* 4 */
    -webkit-transform: scale(0.7); /* 5 */
    -ms-transform: scale(0.7); /* 5 */
    transform: scale(0.7); /* 5 */

    @include respond-to('medium') {
      position: absolute; /* 2 */
      left: 100%; /* 2 */
    }
  }

  /**
   * When visited, color checkmark
   */
  &:visited::after {
    color: $medium-grey;
  }
}
