.post-title {
  text-transform: capitalize;
}

/**
 * Date from in the post page
 */
.post-date,
.post-tags {
  color: $medium-grey;
  font-family: $code-font-stack;
}

.reading-time {
  &::after { content: ')'; }
  &::before { content: '('; }
}
