/**
 * Footer
 * 1. Make it slightly smaller than copy text
 */
.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 90%; /* 1 */
  text-align: center;

  @include respond-to('medium') {
    text-align: initial;
    padding-left: 40px;
    padding-right: 40px;
  }
}

/**
 * Footer copyright
 */
.footer p {
  margin: 20px 0 0;

  @include respond-to('medium') {
    float: left;
    margin: 0;
  }
}
