.footer {
  padding: 40px 0;
}

.footer a {
  color: white;
}

.footer p {
  margin: 0;
}

.footer__nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav li {
  float: left;
}

.footer__nav li + li {
  margin-left: 20px;
}
