/**
 * Navigation
 */
.nav {
  position: relative;

  @include respond-to('medium') {
    float: right;
  }
}

/**
 * Navigation list
 * 1. Undo default styles
 */
.nav ul {
  list-style: none; /* 1 */
  margin: 0; /* 1 */
  padding: 0; /* 1 */
}

/**
 * Navigation item
 * 1. Position context for pseudo-element
 */
.nav li {
  padding: 0 10px;
  position: relative; /* 1 */
  display: inline-block;
  margin: 0;
}

/**
 * Navigation active item 
 * 1. (sqrt(2) * 20) / 2
 */
.is-active::before {
  @include respond-to('medium') {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 50%;
    bottom: -40px;
    margin-left: -12px; /* 1 */
    box-shadow: 0 -3px 5px -3px rgba(black, 0.2);
  }
}

/**
 * Navigation links
 */
.nav a {
  text-decoration: none;
  color: white;
}
