$themes: (
  'pink': $pink,
  'red': $red,
  'orange': $orange,
  'yellow': $yellow,
  'green': $green,
  'teal': $teal,
  'blue': $blue,
  'dark-grey': $dark-grey,
);

@each $name, $color in $themes {
  .t-#{$name} .title-wrapper {
    background-color: $color;
  }

  .t-#{$name} .main a,
  .t-#{$name} :not(pre) > code {
    color: $color;
  }

  .nav__item.t-#{$name} {
    color: inherit;
  }

  .nav__item.t-#{$name}:hover,
  .nav__item.t-#{$name}:active {
    background-color: $color;
    color: rgb(255, 255, 255);
  }

  .t-#{$name} > .nav__link::after {
    color: $color;
  }

  .t-#{$name} blockquote {
    border-left-color: $color;
  }
}
