/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *::before, *::after {
  box-sizing: inherit;
} 

/**
 * Flat background color for the whole page
 */
body {
  background: $main-color;
}

/**
 * Basic styles for links
 */
a {
  color: $secondary-color;
  transition: 0.1s;
  text-decoration: none;
  position: relative;
  display: inline-block;

  &::before {
    content: '';
    transition: inherit;
    position: absolute;
    background: currentcolor;
    top: 100%;
    height: 1px;
    left: 0;
    right: 0;
    transform: scaleX(0);
  }

  &:hover::before {
    transform: scaleX(1);
  }
}

/**
 * Basic styles for images
 * 1. Warning, potentially dangerous if using inline images
 */
img {
  max-width: 100%;
  height: auto;
  display: block; /* 1 */
  margin: 0 auto;
}
